{% extends 'admin/pages/help/template.html.twig' %}

{% set page_title %}F.A.Q{% endset %}
{% set page_subtitle %}Comment puis-je vous aider ?{% endset %}

{% block main_content %}
    <div id="help_faq_list" data-category="{{ category }}">
        {% include "layout/components/loader.html.twig" %}
    </div>
{% endblock %}
