{% extends 'user/layout/layout.html.twig' %}

{% block title %}Hello UserController!{% endblock %}
{% set page_title %}Hello UserController!{% endset %}

{% block main_content %}
<div class="example-wrapper">
    <h1>Hello world</h1>
</div>
{% endblock %}
