{% extends 'admin/pages/changelogs/template.html.twig' %}

{% set page_title %}Création d'un changelog{% endset %}
{% set page_subtitle %}Tenez au courant vos utilisateurs des dernières modifications du site !{% endset %}

{% set page_actions %}
    {% include 'layout/components/tailwind/buttons/button.html.twig' with {
        btn_link: path('admin_changelogs_index'),
        btn_type: 'default',
        btn_icon: 'left-arrow',
        btn_text: 'Retourner à la liste'
    } %}
{% endset %}

{% block main_content %}
    <div id="changelogs_create">
        {% include "layout/components/tailwind/loaders/loader.html.twig" %}
    </div>
{% endblock %}
