{% extends 'admin/pages/changelogs/template.html.twig' %}

{% set page_title %}Changelogs{% endset %}
{% set page_subtitle %}Gestion des changelogs du site internet pour tenir informer vos utilisateurs.{% endset %}

{% set page_actions %}
    {% include 'layout/components/tailwind/buttons/button.html.twig' with {
        btn_link: path('admin_changelogs_create'),
        btn_type: 'blue',
        btn_icon: 'add',
        btn_text: 'Ajouter un changelog'
    } %}
{% endset %}

{% block main_content %}
    <div id="changelogs_list" data-highlight="{{ app.request.query.get('h') }}">
        {% include "layout/components/tailwind/loaders/loader.html.twig" %}
    </div>
{% endblock %}
