
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/js/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

graph.svg
yarn.lock
error_log

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
winpty.exe.stackdump
###< symfony/webpack-encore-bundle ###

/.idea/*
/public/error_log
/public/immo/photos/*
/public/immo/logos/*
/bin/backup/*
/documents/immo/data/*

/config/databaseConfig.json
/config/packages/doctrine.yaml

/public/tinymce/*

phpunit.xml.dist
