@import "~normalize.css";
@import "~toastr";

:root{
  --espaceLayout: 1.2rem;
  --espaceDiv: 1.2rem;
  --espaceEls: 8px;

  --radius: 4px;
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
  :root{
    --espaceLayout: 1.8rem;
  }
}

//                      __   _  __    ___   ___    __
//                     | _| / |/ /_  / _ \ / _ \  |_ |
//    _____ _____ _____| |  | | '_ \| | | | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | | (_) | |_| | |_| |  | |_____|_____|_____|
//                     | |  |_|\___/ \___/ \___/   | |
//                     |__|                       |__|
@media (min-width: 1600px){
  //:root{
  //  --espaceLayout: 2.4rem;
  //}
}

@import "./components/toastr";
@import "./components/exception";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body{
  margin: 0;
}

html, body{
  scroll-behavior: smooth;
}

html{
  font-size: 62.5%;
}

body{
  font-size: 16px;
}

a{
  text-decoration: none;
}

h1, h2, h3, h4, p{
  margin: 0;
}

h1{
  font-size: 22px;
}

h2{
  font-size: 20px;
}

img{
  width: 100%;
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  h1{
    font-size: 28px;
  }
  h2{
    font-size: 26px;
  }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  html{
    font-size: 80%;
  }
}

//                      __   _  __    ___   ___    __
//                     | _| / |/ /_  / _ \ / _ \  |_ |
//    _____ _____ _____| |  | | '_ \| | | | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | | (_) | |_| | |_| |  | |_____|_____|_____|
//                     | |  |_|\___/ \___/ \___/   | |
//                     |__|                       |__|
@media (min-width: 1600px){
  html{
    font-size: 100%;
  }

  h1{
    font-size: 32px;
  }
  h2{
    font-size: 30px;
  }
}
