@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~normalize.css";
@import "~toastr";

@import "./components/toastr";
@import "./components/exception";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body{
  margin: 0;
}

html, body{
  scroll-behavior: smooth;
}

a:hover, button:hover{
  .tooltip{
    display: block;
  }
}

input:disabled{
  cursor: not-allowed;
}
