<div class="inline-flex justify-center rounded-md py-2 px-4 text-sm font-semibold shadow-sm bg-white text-gray-900 hover:bg-gray-50 ring-1 ring-inset ring-gray-300">
    <span class="icon-chart-3 translate-y-0.5"></span>
    <span class="pl-1">{{ btn_text }}</span>
</div>
