.icon-close:before {
  content: "\e99b";
}
.icon-check1:before {
  content: "\e997";
}
.icon-warning1:before {
  content: "\e996";
}
.icon-add-circle:before {
  content: "\e984";
}
.icon-airdrop:before {
  content: "\e98c";
}
.icon-archive-add:before {
  content: "\e985";
}
.icon-archive-minus:before {
  content: "\e986";
}
.icon-arrow-swap-horizontal:before {
  content: "\e999";
}
.icon-bank:before {
  content: "\e990";
}
.icon-bookmark:before {
  content: "\e909";
}
.icon-cake:before {
  content: "\e99c";
}
.icon-calendar-add:before {
  content: "\e993";
}
.icon-calendar-edit:before {
  content: "\e994";
}
.icon-calendar-remove:before {
  content: "\e995";
}
.icon-chart-3:before {
  content: "\e99a";
}
.icon-document-copy:before {
  content: "\e987";
}
.icon-eraser-1:before {
  content: "\e98b";
}
.icon-key:before {
  content: "\e988";
}
.icon-lock-1:before {
  content: "\e989";
}
.icon-pause-circle:before {
  content: "\e98d";
}
.icon-people:before {
  content: "\e991";
}
.icon-user-delete:before {
  content: "\e98a";
}
.icon-rotate-right:before {
  content: "\e998";
}
.icon-shopping-bag:before {
  content: "\e98f";
}
.icon-user-octagon:before {
  content: "\e992";
}
.icon-video-circle:before {
  content: "\e98e";
}
.icon-add:before {
  content: "\e90e";
}
.icon-add-square:before {
  content: "\e924";
}
.icon-user-add:before {
  content: "\e918";
}
.icon-alarm:before {
  content: "\e941";
}
.icon-align-center:before {
  content: "\e933";
}
.icon-align-left:before {
  content: "\e950";
}
.icon-align-right:before {
  content: "\e951";
}
.icon-archive:before {
  content: "\e936";
}
.icon-bar-chart:before {
  content: "\e930";
}
.icon-barcode:before {
  content: "\e937";
}
.icon-book:before {
  content: "\e92b";
}
.icon-book-1:before {
  content: "\e97e";
}
.icon-box:before {
  content: "\e983";
}
.icon-briefcase:before {
  content: "\e92c";
}
.icon-calculator:before {
  content: "\e914";
}
.icon-calendar:before {
  content: "\e92d";
}
.icon-camera:before {
  content: "\e92e";
}
.icon-cancel:before {
  content: "\e913";
}
.icon-cart:before {
  content: "\e92a";
}
.icon-certificate:before {
  content: "\e95f";
}
.icon-chat:before {
  content: "\e93b";
}
.icon-chat-2:before {
  content: "\e928";
}
.icon-check:before {
  content: "\e95a";
}
.icon-check-1:before {
  content: "\e959";
}
.icon-clock:before {
  content: "\e925";
}
.icon-cloud:before {
  content: "\e93a";
}
.icon-colorfilter:before {
  content: "\e908";
}
.icon-copy:before {
  content: "\e963";
}
.icon-credit-card:before {
  content: "\e923";
}
.icon-dashboard:before {
  content: "\e901";
}
.icon-desarchive:before {
  content: "\e97b";
}
.icon-disabled:before {
  content: "\e96d";
}
.icon-diskette:before {
  content: "\e979";
}
.icon-dislike:before {
  content: "\e944";
}
.icon-document:before {
  content: "\e982";
}
.icon-down-arrow:before {
  content: "\e93c";
}
.icon-down-chevron:before {
  content: "\e91d";
}
.icon-download:before {
  content: "\e948";
}
.icon-dropdown:before {
  content: "\e942";
}
.icon-earth:before {
  content: "\e902";
}
.icon-eject:before {
  content: "\e977";
}
.icon-email:before {
  content: "\e94b";
}
.icon-email-edit:before {
  content: "\e97f";
}
.icon-email-tracking:before {
  content: "\e980";
}
.icon-equalizer:before {
  content: "\e978";
}
.icon-error:before {
  content: "\e912";
}
.icon-exclamation:before {
  content: "\e935";
}
.icon-female:before {
  content: "\e939";
}
.icon-file:before {
  content: "\e943";
}
.icon-filter:before {
  content: "\e952";
}
.icon-filter-square:before {
  content: "\e94c";
}
.icon-flag:before {
  content: "\e94d";
}
.icon-flash:before {
  content: "\e96a";
}
.icon-folder:before {
  content: "\e945";
}
.icon-follow:before {
  content: "\e97a";
}
.icon-group:before {
  content: "\e917";
}
.icon-hashtag:before {
  content: "\e973";
}
.icon-headphone:before {
  content: "\e949";
}
.icon-heart:before {
  content: "\e907";
}
.icon-home:before {
  content: "\e964";
}
.icon-house-plan:before {
  content: "\e91b";
}
.icon-image:before {
  content: "\e946";
}
.icon-inbox:before {
  content: "\e947";
}
.icon-justify:before {
  content: "\e94e";
}
.icon-laptop:before {
  content: "\e938";
}
.icon-layer:before {
  content: "\e903";
}
.icon-left-arrow:before {
  content: "\e93e";
}
.icon-left-chevron:before {
  content: "\e91e";
}
.icon-levels:before {
  content: "\e95e";
}
.icon-light:before {
  content: "\e911";
}
.icon-like:before {
  content: "\e931";
}
.icon-link:before {
  content: "\e922";
}
.icon-link-2:before {
  content: "\e934";
}
.icon-login:before {
  content: "\e94f";
}
.icon-logout:before {
  content: "\e904";
}
.icon-male:before {
  content: "\e932";
}
.icon-map:before {
  content: "\e926";
}
.icon-menu:before {
  content: "\e900";
}
.icon-menu-1:before {
  content: "\e927";
}
.icon-minus:before {
  content: "\e93d";
}
.icon-minus-square:before {
  content: "\e953";
}
.icon-moon:before {
  content: "\e910";
}
.icon-more:before {
  content: "\e91c";
}
.icon-move:before {
  content: "\e976";
}
.icon-mute:before {
  content: "\e955";
}
.icon-notification:before {
  content: "\e905";
}
.icon-padlock:before {
  content: "\e956";
}
.icon-pause:before {
  content: "\e95c";
}
.icon-pencil:before {
  content: "\e90a";
}
.icon-phone:before {
  content: "\e921";
}
.icon-placeholder:before {
  content: "\e954";
}
.icon-play:before {
  content: "\e958";
}
.icon-print:before {
  content: "\e957";
}
.icon-qr-code:before {
  content: "\e975";
}
.icon-question:before {
  content: "\e90f";
}
.icon-question-1:before {
  content: "\e90d";
}
.icon-receipt:before {
  content: "\e97c";
}
.icon-receipt-edit:before {
  content: "\e97d";
}
.icon-record:before {
  content: "\e916";
}
.icon-refresh:before {
  content: "\e95d";
}
.icon-refresh1:before {
  content: "\e981";
}
.icon-resize:before {
  content: "\e960";
}
.icon-right-arrow:before {
  content: "\e93f";
}
.icon-right-chevron:before {
  content: "\e91f";
}
.icon-screenshot:before {
  content: "\e974";
}
.icon-search:before {
  content: "\e929";
}
.icon-settings:before {
  content: "\e906";
}
.icon-share:before {
  content: "\e965";
}
.icon-shield:before {
  content: "\e962";
}
.icon-shuffle:before {
  content: "\e970";
}
.icon-smartphone:before {
  content: "\e966";
}
.icon-star:before {
  content: "\e915";
}
.icon-stop:before {
  content: "\e96b";
}
.icon-storage:before {
  content: "\e91a";
}
.icon-tag:before {
  content: "\e967";
}
.icon-task:before {
  content: "\e961";
}
.icon-teacher:before {
  content: "\e971";
}
.icon-time:before {
  content: "\e968";
}
.icon-trash:before {
  content: "\e95b";
}
.icon-unlock:before {
  content: "\e969";
}
.icon-up-arrow:before {
  content: "\e940";
}
.icon-up-chevron:before {
  content: "\e920";
}
.icon-upload:before {
  content: "\e94a";
}
.icon-user:before {
  content: "\e92f";
}
.icon-vision:before {
  content: "\e90b";
}
.icon-vision-not:before {
  content: "\e90c";
}
.icon-volume:before {
  content: "\e96c";
}
.icon-warning:before {
  content: "\e919";
}
.icon-wifi:before {
  content: "\e972";
}
.icon-zoom-in:before {
  content: "\e96e";
}
.icon-zoom-out:before {
  content: "\e96f";
}
