:root{
  --primary: #1e87f0;
  --danger: #f7685b;
  --warning: #fdad2d;
  --success: #2ed47a;

  --grey0: #fafafa;
  --grey1: #e8e8e8;
  --grey2: #c7c7c7;
  --grey3: #a6a6a6;
  --grey4: #838383;

  --primaryOpacity1: #E8F3FD;
  --dangerOpacity1: #FFF7EA;
  --warningOpacity1: #FEF0EE;
  --successOpacity1: #EAFBF1;

  --grey0Opacity1: #FEFEFE;
  --grey1Opacity1: #FDFDFD;
  --grey2Opacity1: #F9F9F9;
  --grey3Opacity1: #F6F6F6;
  --grey4Opacity1: #F2F2F2;

  --primaryOpacity4: #A5CFF9;
  --dangerOpacity4: #FEDEAB;
  --warningOpacity4: #FCC3BD;
  --successOpacity4: #ABEECA;

  --grey0Opacity4: #FDFDFD;
  --grey1Opacity4: #F6F6F6;
  --grey2Opacity4: #E9E9E9;
  --grey3Opacity4: #DBDBDB;
  --grey4Opacity4: #CDCDCD;

  --overlay: rgba(14, 14, 14, 0.5);

  --error: #f7685b;
  --errorBackground: #ffeeee;

  --txt: #101010;
  --alpha: #fdfdfd;

  --black: #000000;
  --white: #FFFFFF;

  --color0: #121420;
  --color1: #1b2432;
  --color2: #2c2b3c;
  --color3: #403f4c;
  --color4: #605f6b;

  --color0Opacity1: rgba(18, 20, 32, 0.1);
  --color1Opacity1: rgba(27, 36, 50, 0.1);
  --color2Opacity1: rgba(44, 43, 60, 0.1);
  --color3Opacity1: rgba(64, 63, 76, 0.1);
  --color4Opacity1: rgba(96, 95, 107, 0.1);

  --color0Opacity4: rgba(18, 20, 32, 0.4);
  --color1Opacity4: rgba(27, 36, 50, 0.4);
  --color2Opacity4: rgba(44, 43, 60, 0.4);
  --color3Opacity4: rgba(64, 63, 76, 0.4);
  --color4Opacity4: rgba(96, 95, 107, 0.4);

  --color0Opacity6: rgba(18, 20, 32, 0.6);
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  :root{
    --espaceLayout: 1.8rem;
  }
}

//                      __   _  __    ___   ___    __
//                     | _| / |/ /_  / _ \ / _ \  |_ |
//    _____ _____ _____| |  | | '_ \| | | | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | | (_) | |_| | |_| |  | |_____|_____|_____|
//                     | |  |_|\___/ \___/ \___/   | |
//                     |__|                       |__|
@media (min-width: 1600px){
  :root{
    --espaceLayout: 2.4rem;
  }
}
