:root{
  --primary: #1e87f0;
  --danger: #f7685b;
  --warning: #fdad2d;
  --success: #2ed47a;

  --grey0: #fafafa;
  --grey1: #e8e8e8;
  --grey2: #c7c7c7;
  --grey3: #a6a6a6;
  --grey4: #838383;

  --primaryOpacity1: rgba(30, 135, 240, 0.1);
  --dangerOpacity1: rgba(247, 104, 91, 0.1);
  --warningOpacity1: rgba(253, 173, 45, 0.1);
  --successOpacity1: rgba(46, 212, 122, 0.1);

  --grey0Opacity1: rgba(250, 250, 250, 0.1);
  --grey1Opacity1: rgba(232, 232, 232, 0.1);
  --grey2Opacity1: rgba(199, 199, 199, 0.1);
  --grey3Opacity1: rgba(166, 166, 166, 0.1);
  --grey4Opacity1: rgba(131, 131, 131, 0.1);

  --primaryOpacity4: rgba(30, 135, 240, 0.4);
  --dangerOpacity4: rgba(247, 104, 91, 0.4);
  --warningOpacity4: rgba(253, 173, 45, 0.4);
  --successOpacity4: rgba(46, 212, 122, 0.4);

  --grey0Opacity4: rgba(250, 250, 250, 0.4);
  --grey1Opacity4: rgba(232, 232, 232, 0.4);
  --grey2Opacity4: rgba(199, 199, 199, 0.4);
  --grey3Opacity4: rgba(166, 166, 166, 0.4);
  --grey4Opacity4: rgba(131, 131, 131, 0.4);

  --overlay: rgba(14, 14, 14, 0.5);

  --error: #f7685b;
  --errorBackground: #ffeeee;

  --txt: #101010;
  --alpha: #fdfdfd;

  --black: #000000;
  --white: #FFFFFF;

  --color0: #121420;
  --color1: #1b2432;
  --color2: #2c2b3c;
  --color3: #403f4c;
  --color4: #605f6b;

  --color0Opacity1: rgba(18, 20, 32, 0.1);
  --color1Opacity1: rgba(27, 36, 50, 0.1);
  --color2Opacity1: rgba(44, 43, 60, 0.1);
  --color3Opacity1: rgba(64, 63, 76, 0.1);
  --color4Opacity1: rgba(96, 95, 107, 0.1);

  --color0Opacity4: rgba(18, 20, 32, 0.4);
  --color1Opacity4: rgba(27, 36, 50, 0.4);
  --color2Opacity4: rgba(44, 43, 60, 0.4);
  --color3Opacity4: rgba(64, 63, 76, 0.4);
  --color4Opacity4: rgba(96, 95, 107, 0.4);

  --color0Opacity6: rgba(18, 20, 32, 0.6);
}

.light-mode{
  --grey2: #939393;

  --grey2Opacity1: rgba(147, 147, 147, 0.1);

  --grey2Opacity4: rgba(147, 147, 147, 0.4);

  --txt: #fdfdfd;
  --alpha: #101010;

  --color0: #293241;
  --color1: #fdfdfd;
  --color2: #F5F5F5;
  --color3: #F0F0F0;
  --color4: #EBEBEB;

  --color0Opacity1: rgba(200, 200, 200, 0.1);
  --color1Opacity1: rgba(250, 250, 250, 0.1);
  --color2Opacity1: rgba(245, 245, 245, 0.1);
  --color3Opacity1: rgba(240, 240, 240, 0.1);
  --color4Opacity1: rgba(235, 235, 235, 0.1);

  --color0Opacity4: rgba(200, 200, 200, 0.4);
  --color1Opacity4: rgba(250, 250, 250, 0.4);
  --color2Opacity4: rgba(245, 245, 245, 0.4);
  --color3Opacity4: rgba(240, 240, 240, 0.4);
  --color4Opacity4: rgba(235, 235, 235, 0.4);

  --color0Opacity6: rgba(249, 247, 243, 0.6);

  nav,
  .nav-menu .nav-item,
  .pagination-container a,
  .loader-content{
    color: var(--txt)
  }

  .pagination-container a{
    background-color: var(--color4);
    color: var(--alpha);
  }

  .list-table{
    background-color: transparent;
    border: 1px solid var(--color2);
  }

  .list-table .items > .item:not(.item-header):hover{
    background-color: var(--color4);
  }

  .dropdown .dropdown-items{
    background-color: var(--color1);
  }

  .tooltip{
    background-color: var(--alpha);
  }

  $data:
          "primary" var(--primary) var(--primary) var(--txt),
          "warning" var(--warning) var(--warning) var(--txt),
          "danger" var(--danger) var(--danger) var(--txt),
          "success" var(--success) var(--success) var(--txt),
          "grey3" var(--grey3) var(--grey3) var(--txt),
          "grey4" var(--grey4) var(--grey4) var(--txt),
          "default" var(--txt) var(--grey2) var(--alpha),
;

  @each $name, $bg, $border, $txt in $data {
    .btn-#{$name},
    .btn-icon-#{$name} {
      background-color: $bg;
      border-color: $border;
      color: $txt;
    }

    .btn-outline-#{$name},
    .btn-icon-outline-#{$name} {
      border-color: $border;
      color: $border;
    }
  }

  [class*="btn-outline-"],
  [class*="btn-icon-outline-"]{
    background-color: var(--color1);
  }
}
