:root{
  --primary: #1e87f0;
  --danger: #f7685b;
  --warning: #fdad2d;
  --success: #2ed47a;
  --grey0: #fafafa;
  --grey1: #e8e8e8;
  --grey2: #c7c7c7;
  --grey3: #a6a6a6;
  --grey4: #838383;

  --primaryOpacity1: rgba(30, 135, 240, 0.1);
  --dangerOpacity1: rgba(247, 104, 91, 0.1);
  --warningOpacity1: rgba(253, 173, 45, 0.1);
  --successOpacity1: rgba(46, 212, 122, 0.1);
  --grey2Opacity1: rgba(199, 199, 199, 0.1);
  --grey3Opacity1: rgba(166, 166, 166, 0.1);
  --grey4Opacity1: rgba(131, 131, 131, 0.1);

  --primaryOpacity4: rgba(30, 135, 240, 0.4);
  --dangerOpacity4: rgba(247, 104, 91, 0.4);
  --warningOpacity4: rgba(253, 173, 45, 0.4);
  --successOpacity4: rgba(46, 212, 122, 0.4);
  --greyOpacity4: rgba(199, 199, 199, 0.4);
  --grey4Opacity4: rgba(131, 131, 131, 0.4);

  --overlay: rgba(14, 14, 14, 0.5);

  --error: #f7685b;
  --errorBackground: #ffeeee;

  --txt: #101010;
  --alpha: #fdfdfd;

  --black: #000000;
  --white: #FFFFFF;

  --grey: #a6a6a6;

  --color0: #121420;
  --color1: #1b2432;
  --color2: #2c2b3c;
  --color3: #403f4c;
  --color4: #605f6b;

  --color0Opacity1: rgba(18, 20, 32, 0.1);

  --color0Opacity4: rgba(18, 20, 32, 0.4);
  --color1Opacity4: rgba(27, 36, 50, 0.4);
  --color2Opacity4: rgba(44, 43, 60, 0.4);
  --color3Opacity4: rgba(64, 63, 76, 0.4);

  --color0Opacity6: rgba(18, 20, 32, 0.6);
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  :root{
    --espaceLayout: 1.8rem;
  }
}

//                      __   _  __    ___   ___    __
//                     | _| / |/ /_  / _ \ / _ \  |_ |
//    _____ _____ _____| |  | | '_ \| | | | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | | (_) | |_| | |_| |  | |_____|_____|_____|
//                     | |  |_|\___/ \___/ \___/   | |
//                     |__|                       |__|
@media (min-width: 1600px){
  :root{
    --espaceLayout: 2.4rem;
  }
}
