@import "../../../common/css/vars/vars";

@mixin fontRegular() { font-family: 'barlowregular', sans-serif; }
@mixin fontSemibold() { font-family: 'barlowsemibold', sans-serif; }
@mixin fontBold() { font-family: 'barlowbold', sans-serif; }

@mixin maxscreen(){
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}
