@import "../../../common/css/components/agenda";

#fullcalendar-custom {

  .fc{
    .fc-col-header{
      background-color: var(--color2);
    }

    .fc-col-header-cell-cushion {
      font-weight: 600;
    }

    .fc-button-primary{
      background-color: var(--color0);
      border-color: var(--color0);
      transition: all 0.2s ease-in-out;

      &.fc-button-active{
        background-color: var(--color3);
        border-color: var(--color3);

        &:hover{
          background-color: var(--color3Opacity4);
          border-color: var(--color3Opacity4);
        }
      }

      &:hover{
        background-color: var(--color0Opacity4);
        border-color: var(--color0Opacity4);
      }
    }

    table{
      border-color: var(--color3);
      background-color: var(--color0Opacity1);
    }

    .fc-day-today{
      background-color: var(--color0);
    }
  }

  .fc-theme-standard td, .fc-theme-standard th{
    border-color: var(--color3);
  }
}
