@import "../../../common/css/components/alert";

$icons:
        "default" var(--alpha) var(--txt),
        "grey" var(--greyOpacity4) var(--txt),
        "primary" var(--primaryOpacity4) var(--primary),
        "danger" var(--dangerOpacity4) var(--danger),
        "warning" var(--warningOpacity4) var(--warning)
;

@each $name, $bg, $txt in $icons {
  .alert-#{$name} {
    background: $bg;
    color: $txt;
  }
}
