@import "../../../common/css/components/button";

$data:
        "default" var(--alpha) var(--txt) var(--grey) var(--color2),
;

@each $name, $bg, $txt, $border, $hBorder in $data {
  .btn-icon-outline-#{$name} {
    background-color: $bg;
    color: $txt;
    border: 1px solid $border;

    &:hover{
      border-color: $hBorder;
    }
  }
}

.btn-icon{
  &:hover{
    border-color: var(--color2);
  }
}
