@import "../../../common/css/components/button";

.btn{
  &:hover{
    opacity: 0.9;
  }
}

$data:
        "default" var(--color0) var(--grey),
        "cancel" var(--grey) var(--txt),
        "primary" var(--primary) var(--alpha),
        "warning" var(--warning) var(--alpha),
;

@each $name, $bg, $txt in $data {
  .btn-#{$name},
  .btn-icon-#{$name}{
    background-color: $bg;
    color: $txt;
  }
}

$data:
        "default" var(--color0) var(--grey) var(--color2Opacity4) var(--color2),
        "primary" var(--alpha) var(--primary) var(--primary) var(--primary),
        "warning" var(--alpha) var(--warning) var(--warning) var(--warning),
;

@each $name, $bg, $txt, $border, $hBorder in $data {
  .btn-outline-#{$name}, .btn-icon-outline-#{$name} {
    background-color: $bg;
    color: $txt;
    border: 1px solid $border;

    &:hover{
      border-color: $hBorder;
    }
  }
}

.btn-icon{
  &:hover{
    border-color: var(--color2);
  }
}
