@import "../../../common/css/components/button";

.btn{
  &:hover{
    opacity: 0.9;
  }
}

$data:
        "default" var(--alpha) var(--txt) var(--grey) var(--color2),
        "cancel" var(--grey) var(--txt) var(--grey) var(--color2),
        "primary" var(--primary) var(--alpha) var(--grey) var(--color2),
;

@each $name, $bg, $txt, $border, $hBorder in $data {
  .btn-outline-#{$name}, .btn-icon-outline-#{$name} {
    background-color: $bg;
    color: $txt;
    border: 1px solid $border;

    &:hover{
      border-color: $hBorder;
    }
  }

  .btn-#{$name}{
    background-color: $bg;
    color: $txt;
  }
}

.btn-icon{
  &:hover{
    border-color: var(--color2);
  }
}
