@import "../../../common/css/components/changelog";

$data:
        "0" var(--primary),
        "1" var(--warning),
        "2" var(--danger)
;

@each $name, $txt in $data {
  .changelog-type-#{$name}{
    & > .col-1{
      color: $txt;
    }
  }
}

.changelog-view{
  & > .col-1{
    background-color: var(--color0);
  }

  .name{
    font-weight: 600;
    margin-bottom: 2px;
  }

  .date{
    opacity: 0.7;
  }
}
