:root{
  --primary: #1e87f0;
  --danger: #f7685b;
  --warning: #fdad2d;
  --success: #2ed47a;
  --grey: #c7c7c7;

  --primaryOpacity1: rgba(30, 135, 240, 0.1);

  --primaryOpacity4: rgba(30, 135, 240, 0.4);
  --dangerOpacity4: rgba(247, 104, 91, 0.4);
  --warningOpacity4: rgba(253, 173, 45, 0.4);
  --successOpacity4: rgba(46, 212, 122, 0.4);
  --greyOpacity4: rgba(199, 199, 199, 0.4);

  --color0: #121420;
  --color1: #1b2432;
  --color2: #2c2b3c;
  --color3: #403f4c;
  --color4: #605f6b;

  --color0Opacity1: rgba(18, 20, 32, 0.1);

  --color0Opacity4: rgba(18, 20, 32, 0.4);
  --color1Opacity4: rgba(27, 36, 50, 0.4);
  --color2Opacity4: rgba(44, 43, 60, 0.4);
  --color3Opacity4: rgba(64, 63, 76, 0.4);

  --overlay: rgba(14, 14, 14, 0.5);

  --error: #f7685b;
  --errorBackground: #ffeeee;

  --txt: #101010;
  --alpha: #fdfdfd;

  --black: #000000;
  --white: #FFFFFF;
}
