footer{
  background-color: var(--color0Opacity4);
  color: var(--alpha);

  a{
    color: var(--alpha);

    &:hover{
      text-decoration: underline;
    }
  }

  .copyright{
    @include flex(row, center, flex-end, 8px);
  }
}

.footer{
  .footer-menu{
    @include flex(column, flex-start, flex-start, 24px);
    margin-bottom: 24px;
  }

  .footer-logo{
    @include flex(column, flex-start, flex-start, 12px);
    @include fontSemibold();

    img{
      width: 100px;
    }
  }

  .footer-items{
    @include flex(column, flex-start, flex-start, 4px);

    a{
      opacity: 0.7;
      &:hover{ opacity: 1; }
    }
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .footer{
    .footer-items{
      flex-direction: row;
      flex-wrap: wrap;
      gap: 12px;
    }
  }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
  .footer{
    padding: 1.8rem;

    .footer-logo{
      flex-direction: row;
      align-items: center;
    }
  }
}
