@import "../../../common/css/components/form";

.line{
  label{
    text-transform: uppercase;
    color: var(--grey);
    @include fontSemibold();
    font-size: 13px;
  }
}

.checkbox-item, .radiobox-item{
  label{
    border: 2px solid var(--grey);
  }

  &:hover{
    label{
      color: var(--grey);
      border-color: var(--primary);
    }
  }
}

.line-fat-box {
  .checkbox-item, .radiobox-item {
    overflow: hidden;
    border-radius: 6px;

    label{
      padding: 20px 12px;
      border-style: solid;
      min-width: 120px;
      text-align: center;
    }

    .item-selected{
      position: absolute;
      top: -4px;
      right: -10px;
      background: var(--primary);
      transform: rotate(45deg) translateY(-5px);
      width: 40px;
      padding-top: 8px;
      text-align: center;

      [class^="icon-"]{
        transform: rotate(-45deg);
      }
    }
  }

  .checkbox-item{
    label{
      border-radius: 6px;
    }
  }

  .radiobox-item{
    label{
      border-radius: 40px;
    }
  }
}

.select-custom{
  .item{
    &:hover{
      background-color: var(--color0Opacity1);
    }
  }
}
