@import "../../../common/css/components/form";

.line{
  label{
    text-transform: uppercase;
    color: var(--grey);
    @include fontSemibold();
    font-size: 13px;
  }
}

.checkbox-item, .radiobox-item{
  label{
    border: 1px solid var(--grey);
  }

  &:hover{
    label{
      color: var(--primary);
    }
  }
}
