@import "../../../common/css/components/help";

.help-categories{
  & > .item{
    &.active{
      background-color: var(--color0);
    }
    &:not(.active):hover{
      background-color: var(--color0Opacity4);
    }
  }
}

.questions {
  .questions-header {
    .icon {
      background-color: var(--color0);
      color: var(--alpha);
    }
  }
}

.question{
  &.active{
    .question-header{
      .name{ opacity: 1 }
    }
  }
  .question-header {
    background-color: var(--color0Opacity4);
  }
  .question-body{
    background-color: var(--color0Opacity4);
    border-color: var(--color2);
  }
}

.line-icons{
  .icon-chart-3{
    animation: none;
  }

  .icons-choice{
    @include flex(row, flex-start, flex-start, 4px);
    flex-wrap: wrap;
  }

  .icon-choice{
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    opacity: 0.75;
    background-color: var(--color0Opacity4);

    &.active{
      background-color: var(--primaryOpacity1);
      color: var(--primary);
      opacity: 1;
    }

    &:not(.active):hover{
      background-color: var(--color0);
      opacity: 1;
    }
  }
}
