nav{
  background-color: var(--color0);
}

main{
  margin-bottom: 4.8rem;
}

.main-content{
  min-height: 80vh;
  padding: 1.2rem;
}

.footer{
  padding: 1.8rem 1.2rem;
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width:1024px) {
  .body{
    @include flex(row, stretch, flex-start);
  }

  nav{
    width: 220px;
    border-radius: 0 24px 0 0;
  }

  main{
    width: calc(100% - 220px);
  }

  .main-content{
    padding: 1.2rem 1.8rem;
  }
}

//                      __   _  __    ___   ___    __
//                     | _| / |/ /_  / _ \ / _ \  |_ |
//    _____ _____ _____| |  | | '_ \| | | | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | | (_) | |_| | |_| |  | |_____|_____|_____|
//                     | |  |_|\___/ \___/ \___/   | |
//                     |__|                       |__|
@media (min-width: 1600px){
  nav{
    width: 280px;
  }

  main{
    width: calc(100% - 280px);
    max-width: 1060px;
  }
}
