@import "../../../common/css/components/loader";

.loader-content{
  margin: 0 1.2rem;
  width: calc(100% - 2.4rem);
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
  .loader-content{
    margin: 0 1.8rem;
    width: calc(100% - 3.2rem - 4px);
  }
}
