.nav-container{
  position: relative;
  @include flex(row, stretch, space-between);
}

.nav-logo{
  @include flex(row, center, center);
  width: 100px;
  padding: 1.2rem;

  a {
    @include flex(row, center, center);
  }
}

.nav-mobile{
  @include flex(row, center, center);
  padding: 1.2rem;
  font-size: 2.6rem;
}

.nav-header{
  @include flex(column, center, center, 0.8rem);
  text-align: center;
  margin-bottom: 2.4rem;
}

.nav-header-actions{
  @include flex(row, center, flex-start);
  gap: 0.8rem;
}

.nav-content{
  position: absolute;
  top: -200.0rem; left: 0;
  padding: 2.4rem 0;
  background-color: var(--color2);
  opacity: 0;
  z-index: -1;

  &.active{
    top: 5rem;
    opacity: 1;
    z-index: 100;
    width: 100%;
  }
}

.nav-menu{
  .nav-item{
    @include flex(row, center, flex-start, 8px);
    color: var(--alpha);
    padding: 12px;
    transition: all 0.2s ease-in-out;

    [class^="icon-"]{
      display: inline-block;
      transform: translateY(-2px);
    }

    &.active{
      background-color: var(--primary);
    }

    &:not(&.active):hover{
      background-color: var(--color2);
    }
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .nav-header{
    align-items: flex-end;
    text-align: right;
    margin-bottom: 0;
  }

  .nav-content{
    @include flex(row-reverse, center, space-between, 0.8rem);
    padding-right: 1.2rem;
  }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
  .nav-container{
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.8rem 1.2rem;
    height: 100vh;
  }

  .nav-mobile{
    display: none;
  }

  .nav-logo{
    padding: 0;
    margin: 0 auto 24px auto;
  }

  .nav-header{
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 0.8rem;
  }

  .nav-header-infos{
    margin: 0;

    & > div{
      max-width: 180px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .nav-header-actions{
    margin-left: 0;
  }

  .nav-header{
  }

  .nav-content{
    position: relative;
    background-color: transparent;
    top: 0;opacity: 1;z-index: 1;
    padding: 0;
    width: 100%; height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;

    &.active{ top: 0;opacity: 1;z-index: 1; }
  }

  .nav-menu{
    @include flex(column, flex-start, space-between);

    width: 100%;
    height: 100%;

    .nav-items{
      @include flex(column, flex-start, flex-start, 0.8px);
      width: 100%;
    }

    .nav-item{
      border-radius: 4px;
      width: 100%;
    }
  }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  .nav-logo{
    margin-bottom: 48px;
  }
}

//                      __   _  __    ___   ___    __
//                     | _| / |/ /_  / _ \ / _ \  |_ |
//    _____ _____ _____| |  | | '_ \| | | | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | | (_) | |_| | |_| |  | |_____|_____|_____|
//                     | |  |_|\___/ \___/ \___/   | |
//                     |__|                       |__|
@media (min-width: 1600px){
  .nav-header-infos{
    & > div{
      max-width: 240px;
    }
  }
}
