@import "../../../common/css/components/notification";

#notifs_list{
  .btn-icon-default{
    background-color: var(--color0);
    color: var(--grey);
    border-color: var(--color2Opacity4);
  }
}

.notifications-items{
  background-color: var(--color1);
  color: var(--alpha);
}

.notif-card {
  .notif-header, .notif-actions{
    border-color: var(--color2);
  }

  .notif-item{
    &:hover{
      background-color: var(--color0Opacity4);
    }
  }
}
