.page-title-container{
  padding: 1.8rem 1.2rem;

  h1{
    margin-bottom: 4px;
  }

  .page-subtitle{
    opacity: 0.8;
  }
}

.page-toolbar,
.page-actions{
  padding: 0 1.2rem;
  margin-bottom: 1.2rem;
}

.page-actions{
  @include flex(row, center, space-between);
  gap: 8px;

  & > .col-1{
    @include flex(row, center, flex-start);
  }
  & > .col-2{
    @include flex(row, center, flex-end);
  }

  & > .col-1,
  & > .col-2{
    gap: 8px;

    .btn, .btn-icon{
      display: inline-block;
      width: auto;
    }

    .btn-icon{
      padding: 10px 12px;
    }
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .page-toolbar{
    @include flex(row, flex-start, space-between);
    gap: 8px;
  }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  .page-title-container {
    padding: 1.8rem;
  }

  .page-toolbar,
  .page-actions{
    padding: 0 1.8rem;
    margin-bottom: 1.8rem;
  }
}
