@import "../../../common/css/components/pagination";

.pagination-container{
  @include flex(row, flex-start, flex-end);

  a {
    color: var(--alpha);
  }

  a{
    background-color: var(--color0);
    transition: background-color 0.2s ease-in-out;

    &:hover{
      background-color: var(--color3);
    }
  }

  .active a{
    background-color: var(--color2);
  }
}
