@import "../../../common/css/components/password";

.password-rules{
  li{
    &:before{
      content: "\e99b";
      font-family: 'icomoon' !important;
    }

    &.valid{
      color: var(--success);

      &:before{
        content: "\e997";
      }
    }
  }
}
