@import "../../../common/css/components/profil";

.page-profil-0{
  .name{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 4px;
  }

  .sub{
    color: var(--grey4);
  }

  .page-profil-header{
    background-color: var(--color0Opacity4);
    padding: 1.8rem 1.2rem;
  }

  .page-profil-body{
    margin: 0 1.2rem;

    .profil-card{
      background-color: var(--color0Opacity4);

      .title{
        font-weight: 600;
      }
    }
  }


  //                      __   _____ __    ___    __
  //                     | _| |___  / /_  ( _ )  |_ |
  //    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
  //   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
  //                     | |   /_/  \___/ \___/   | |
  //                     |__|                    |__|
  @media (min-width:768px) {
    margin: 0 1.2rem;

    .page-profil-body{
      margin: 0;
    }
  }

  //                      __   _  ___ ____  _  _     __
  //                     | _| / |/ _ \___ \| || |   |_ |
  //    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
  //   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
  //                     | |  |_|\___/_____|  |_|    | |
  //                     |__|                       |__|
  @media (min-width: 1024px) {
    gap: 1.8rem;
    margin: 0 1.8rem;
  }

}
