@import "../../../common/css/components/toolbar";

.toolbar{
  .search-bar input{
    width: 100%;

    &:focus{
      border-color: var(--color3Opacity4);
    }
  }
}

.search-bar{
  input{
    &:hover,
    &:focus{
      & + .search-icon:not(.active){
        color: var(--alpha);
      }
    }
  }
}

.filters{
  .dropdown-btn{
    border-color: var(--color3Opacity4);
  }
}
