@import "../../../common/css/components/toolbar";

.toolbar{
  .filters{
    .filter{
      background-color: var(--alpha);
    }
  }

  .search-bar input{
    width: 100%;

    &:focus{
      border-color: var(--grey);
    }
  }
}
