{% extends 'admin/pages/immo/demandes/template.html.twig' %}

{% set page_title %}Demande de contacts des annonces{% endset %}
{% set page_subtitle %}Gestion des demandes de contacts des annonces.{% endset %}

{% block main_content %}
    <div id="demandes_list">
        {% include "layout/components/tailwind/loaders/loader.html.twig" %}
    </div>
{% endblock %}
