{% extends 'admin/pages/users/template.html.twig' %}

{% set page_title %}Création d'un nouvel utilisateur{% endset %}
{% set page_subtitle %}Renseignez le maximum d'informations concernant le nouveau utilisateur.{% endset %}

{% block main_content %}

    {% include "layout/components/admin/page_toolbar.html.twig" with { page_back: path('admin_users_index') } %}

    <div id="users_create">
        {% include "layout/components/loader.html.twig" %}
    </div>
{% endblock %}
