{% extends 'admin/pages/users/template.html.twig' %}

{% set page_title %}Utilisateurs{% endset %}
{% set page_subtitle %}Ajouter et gérez les utilisateurs du site.{% endset %}

{% block main_content %}

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    <div id="users_list"
         data-objs="{{ objs }}"
    >
        {% include "layout/components/loader.html.twig" %}
    </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
