{% extends 'admin/pages/users/template.html.twig' %}

{% set page_title %}Utilisateurs{% endset %}
{% set page_subtitle %}Ajouter et gérez les utilisateurs du site.{% endset %}

{% block main_content %}
    <div class="page-actions">
        <div class="col-1">
            <a href="{{ path('admin_users_create') }}" class="btn btn-primary">Créer un nouvel utilisateur</a>
        </div>
        <div class="col-2">
            <a href="{{ path('api_users_export', {'format': 'excel'}) }}" download="utilisateurs.xlsx" class="btn-icon btn-icon-default">
                <span class="icon-download"></span>
                <span class="tooltip" style="width: 110px;">Exporter les données</span>
            </a>
        </div>
    </div>

    <div id="users_list">
        {% include "layout/components/loader.html.twig" %}
    </div>
{% endblock %}
