{% extends 'admin/pages/users/template.html.twig' %}

{% set page_title %}Utilisateurs{% endset %}
{% set page_subtitle %}Ajouter et gérez les utilisateurs du site.{% endset %}

{% block main_content %}
    <div class="page-actions">
        <div class="col-1">
            <a href="{{ path('admin_users_create') }}" class="btn btn-primary">Créer un nouvel utilisateur</a>
        </div>
        <div class="col-2">
            <div id="users_export">
                {% include "layout/components/admin/loaders/btn-icon.html.twig" %}
            </div>
        </div>
    </div>

    <div id="users_list" data-highlight="{{ highlight }}">
        {% include "layout/components/loader.html.twig" %}
    </div>
{% endblock %}
