{% extends 'admin/pages/settings/template.html.twig' %}

{% set page_title %}Modifier les paramètres du site internet{% endset %}
{% set page_subtitle %}Modifier les informations globales du site.{% endset %}

{% set breadcrumbs = [
    { icon: 'settings', text: "Paramètres" }
] %}

{% block main_content %}
    <div id="settings_update"
         data-obj="{{ obj }}"
    >
        {% include "layout/components/tailwind/loaders/loader.html.twig" %}
    </div>
{% endblock %}
