.mail-item{
  .actions{
    @include flex(row, center, space-between);

    .createdAt{
      font-size: 15px;
      color: var(--grey3);
    }
  }

  .item-header{
    @include flex(row, flex-start, flex-start, var(--espaceDiv));
    margin-top: var(--espaceDiv);
    overflow: auto;
    @include scrollbar();

    &::-webkit-scrollbar{
      height: 3px;
    }

    .content{
      @include flex(column, flex-start, flex-start, var(--espaceEls));
      width: calc(100% - 32px - 12px);

      .destinators, .name{
        @include flex(row, flex-start, flex-start, 4px);

        & > div:first-child{
          @include flex(row, flex-start, space-between);
          width: 44px;
          color: var(--grey3);
        }

        & > div:last-child{
          width: calc(100% - 44px - 4px);
        }

        .items{
          @include flex(row, flex-start, flex-start, 4px);
          flex-wrap: wrap;
        }
      }

      .name{
        .items{
          span{
            @include fontSemibold();
          }
        }
      }

      .destinators{
        .items{
          span{
            background-color: var(--primaryOpacity4);
            border-radius: var(--radius);
            padding: 2px 4px;
            font-size: 15px;
          }
        }
      }
    }
  }

  .item-body{

    .badges{
      text-align: right;
    }

    .subject{
      @include fontSemibold();
      font-size: 20px;
      border-top: 1px solid var(--grey4Opacity4);
      border-bottom: 1px solid var(--grey4Opacity4);
      margin: var(--espaceDiv) 0;
      padding: var(--espaceDiv) 0;
    }

    .message{
      min-height: 10vh;
    }

    .files{
      @include flex(row, flex-start, flex-start, var(--espaceEls));
      flex-wrap: wrap;
      border-top: 1px solid var(--grey4Opacity4);
      padding-top: var(--espaceDiv);

      & > .file{
        @include flex(row, stretch, flex-start, var(--espaceEls));
        border: 1px solid var(--grey4);
        border-radius: var(--radius);
        padding: var(--espaceEls);
        color: var(--grey3);
        box-shadow: 0 4px 12px var(--color0Opacity4);
        cursor: pointer;
        transition: color 0.2s ease;

        &:hover{
          color: var(--alpha);
        }

        .name{
          font-size: 15px;
          @include fontSemibold();
        }
      }
    }
  }
}
