.mail-item{
  .actions{
    @include flex(row, center, space-between);

    .createdAt{
      font-size: 15px;
      color: var(--grey3);
    }
  }

  .item-header{
    @include flex(row, flex-start, flex-start, var(--espaceDiv));
    margin-top: var(--espaceDiv);
    overflow: auto;
    @include scrollbar();

    &::-webkit-scrollbar{
      height: 3px;
    }

    .content{
      width: calc(100% - 32px - 12px);

      .destinators, .name{
        @include flex(row, flex-start, flex-start, 4px);

        & > div:first-child{
          @include flex(row, flex-start, space-between);
          width: 44px;
          color: var(--grey3);
        }

        & > div:last-child{
          width: calc(100% - 44px - 4px);
        }

        .items{
          span{
            display: inline-block;
          }

          span:not(:last-child){
            margin-right: 4px;
          }
        }
      }

      .name{
        .items{
          span{
            @include fontSemibold();
          }
        }
      }

      .destinators{
        .items{
          span{
            background-color: var(--primaryShadow2);
            border-radius: var(--radius);
            padding: 2px 4px;
            font-size: 15px;
            margin-bottom: 4px;
          }
        }
      }
    }
  }

  .item-body{

    .badges{
      text-align: right;
    }

    .subject{
      @include fontSemibold();
      font-size: 20px;
      border-top: 1px solid var(--grey4Opacity4);
      border-bottom: 1px solid var(--grey4Opacity4);
      margin: var(--espaceDiv) 0;
      padding: var(--espaceDiv) 0;
    }

    .message{
      min-height: 10vh;
    }

    .files{
      @include flex(row, flex-start, flex-start);
      flex-wrap: wrap;
      border-top: 1px solid var(--grey4Opacity4);
      padding-top: 24px;

      & > .file{
        @include flex(row, stretch, flex-start, var(--espaceEls));
        border: 1px solid var(--grey4);
        border-radius: var(--radius);
        padding: var(--espaceDiv);
        color: var(--grey3);
        box-shadow: 0 4px 12px var(--grey4Opacity4);
        cursor: pointer;

        .icon{
          transition: transform 0.2s ease-in-out;
        }

        &:hover{
          .icon{
            transform: scale(1.05);
          }
        }

        .name{
          color: var(--txt);
          font-size: 15px;
          @include fontSemibold();
        }
      }
    }
  }

  @media (min-width:768px) {
    .item-body{
      .files{
        width: calc(100% + 12px);

        & > .file{
          width: calc(33% - 24px - 12px);
          margin-bottom: 8px;
          margin-right: 12px;
        }
      }
    }
  }

}
