.mail-add{
  margin-bottom: var(--espaceDiv);

  .btn{
    width: 100%;
  }
}

.mail-menu{
  .item{
    @include flex(row, center, space-between);
    font-weight: 600;
    padding: var(--espaceDiv) 0;
    cursor: pointer;

    &.true{
      .name{
        color: var(--primary);

        [class^="icon-"]{
          color: var(--primary);
        }
      }

      .total{
        span{
          background-color: var(--primaryOpacity4);
          color: var(--primary)
        }
      }
    }

    .name{
      @include flex(row, center, flex-start, var(--espaceEls));
      color: var(--grey3);

      [class^="icon-"]{
        color: var(--grey3);
        font-weight: 600;
      }
    }

    .total{
      span{
        border-radius: var(--radius);
        padding: 4px 6px;
        font-size: 12px;
        background-color: var(--grey4Opacity4);
        color: var(--grey3)
      }
    }
  }
}
