<div class="page-toolbar">
    <a href="{{ page_back }}" class="btn btn-outline-default">
        <span class="icon-left-arrow"></span>
        <span>{{ page_back_text is defined ? page_back_text : "Retourner à la liste" }}</span>
    </a>
</div>
