@import "../../../../common/css/components/elements/alert";

.alert{
  border-radius: var(--radius);

  .alert-container{
    &:before{
      border-radius: var(--radius) 0 0 var(--radius);
    }

    .title{
      font-weight: 600;
    }
  }
}

$data:
        "primary" var(--primaryOpacity1) var(--primary) var(--primaryOpacity4),
        "warning" var(--warningOpacity1) var(--warning) var(--warningOpacity4),
        "danger" var(--dangerOpacity1) var(--danger) var(--dangerOpacity4),
        "success" var(--successOpacity1) var(--success) var(--successOpacity4),
        "grey4" var(--grey4Opacity1) var(--grey4) var(--grey4Opacity4),
;

@each $name, $bg, $txt, $border in $data {
  .alert-#{$name} {
    background: $bg;
    color: $txt;

    .alert-container{
      &:before{
        background-color: $border;
      }
    }
  }
}
