@import "../../../../common/css/components/elements/breadcrumb";

.breadcrumb{
  padding: 1.2rem var(--espaceLayout) 0 var(--espaceLayout);

  .breadcrumb-separator{
    opacity: 0.70;
  }

  .breadcrumb-item{
    color: var(--alpha);
    opacity: 0.70;
    transition: opacity 0.2s ease-in-out;

    &.active,
    &:hover{
      opacity: 1;
    }
  }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
  .breadcrumb {
    padding: 1.8rem var(--espaceLayout) 0 var(--espaceLayout);
  }
}
