@import "../../../../common/css/components/elements/button";

.txt-button, .btn, .btn-icon{
  border-radius: var(--radius);
}

.txt-button{
  color: var(--alpha);
}

$data:
        "primary" var(--primary) var(--primary) var(--alpha),
        "warning" var(--warning) var(--warning) var(--alpha),
        "danger" var(--danger) var(--danger) var(--alpha),
        "success" var(--success) var(--success) var(--alpha),
        "grey3" var(--grey3) var(--grey3) var(--alpha),
        "grey4" var(--grey4) var(--grey4) var(--alpha),
        "default" var(--alpha) var(--grey2) var(--txt),
;

@each $name, $bg, $border, $txt in $data {
  .btn-#{$name},
  .btn-icon-#{$name} {
    background-color: $bg;
    border-color: $border;
    color: $txt;
  }

  .btn-outline-#{$name},
  .btn-icon-outline-#{$name} {
    border-color: $border;
    color: $border;
  }
}

[class*="btn-outline-"],
[class*="btn-icon-outline-"]{
  background-color: var(--color0);
}

.btn-outline-default,
.btn-icon-outline-default{
  border-color: var(--color2);
}

$data:
        "primary" var(--primaryOpacity1) var(--primary),
        "warning" var(--warningOpacity1) var(--warning),
        "danger" var(--dangerOpacity1) var(--danger),
        "success" var(--successOpacity1) var(--success),
        "grey3" var(--grey3Opacity1) var(--grey3),
        "grey4" var(--grey4Opacity1) var(--grey4),
        "default" var(--grey2Opacity1) var(--alpha),
;

@each $name, $bg, $txt in $data {
  .txt-button-#{$name} {
    &:hover {
      background-color: $bg;
      color: $txt;
    }
  }
}
