@import "../../../../common/css/components/elements/card";

.card{
  border-radius: calc(var(--radius) * 2);
  border: 1px solid var(--color1);

  .card-header-name{
    @include fontSemibold();
  }
}

.card-0{
  background-color: var(--color0);

  .card-header, .card-body{
    border-bottom: 1px solid var(--color1);
  }
}
