@import "../../../../common/css/components/elements/dropdown";

.dropdown {
  &:hover{
    .dropdown-btn{
      &:not(.active){
        color: var(--alpha);
      }
    }
  }

  .dropdown-btn{
    &.active{
      color: var(--alpha);
    }
  }

  .dropdown-items{
    background-color: var(--color0);
    @include shadowCommon();
    border: 1px solid var(--color2);

    .item label, a{
      color: var(--alpha);
    }
  }
}
