{% extends 'admin/pages/mails/template.html.twig' %}

{% set page_title %}Boite mail{% endset %}
{% set page_subtitle %}Boite mail configuré en IMAP.{% endset %}

{% block main_content %}
    <div class="main-content">
{#        <div class="count">#}
{#            {{ pagination.getTotalItemCount }}#}
{#        </div>#}

        <div id="mails"
             data-donnees="{{ data }}"
        >
            {% include "layout/components/loader.html.twig" %}
        </div>

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
    <div id="mails">
        {% include "layout/components/loader.html.twig" %}
    </div>
{% endblock %}
