#fullcalendar-custom{

  table{
    & > tbody{
      & > .fc-scrollgrid-section{
        td.fc-cell-shaded{
          display: none;
        }
      }
    }
  }

  .fc{
    .fc-view-harness{
      min-height: 80vh;
    }

    .fc-toolbar.fc-header-toolbar{
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;

      & > .fc-toolbar-chunk:last-child{
        align-self: flex-end;
      }
    }

    .fc-timegrid-axis-cushion,
    .fc-timegrid-slot-label-cushion{
      padding: 0 7px 0 5px;
    }

    .fc-col-header-cell-cushion{
      padding: 12px 4px;
      text-transform: capitalize;
      font-weight: initial;
    }

    .fc-timegrid-slot{
      height: 2.5em;
    }

    .fc-scroller{
      @include scrollbar();
    }
  }

  .fc-theme-standard td.fc-timegrid-divider.fc-cell-shaded{
    border-bottom: none;
  }

  .fc-v-event .fc-event-main,
  .fc-v-event .fc-event-title,
  .fc-timegrid-event-harness > .fc-timegrid-event{
    overflow: auto;
    @include scrollbar();
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  #fullcalendar-custom {
    .fc {
      .fc-toolbar.fc-header-toolbar{
        flex-direction: row;
        align-items: center;
      }
    }
  }
}
