.alert{
  @include flex(row, flex-start, flex-start);
  padding: 12px;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  width: 100%;

  p, ul li{
    font-size: 14px;
  }

  [class^="icon-"] {
    & + p,
    & + div{
      margin-left: 8px;
      font-size: 14px;
    }
  }

  .title{
    display: block;
    @include fontSemibold();
    margin-bottom: 4px;
  }
}
