.alert{
  @include flex(row, stretch, flex-start);
  width: 100%;

  &:before{
    content: "";
    display: block;
    width: 6px;
  }

  p{
    padding: var(--espaceEls);
  }

  p, ul li{
    font-size: 15px;
  }

  [class^="icon-"] {
    padding: var(--espaceEls) 0 var(--espaceEls) var(--espaceEls);
  }

  .title{
    display: block;
    margin-bottom: 4px;
  }
}
