button{
  border: none;
}

.btn-icon, .btn {
  position: relative;
  @include flex(row, center, center);
  border-radius: 4px;
  width: auto;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-align: center;
}

.btn-icon{
  padding: 6px;
}

.btn{
  padding: 10px 20px;

  & > [class^="icon-"]{
    margin-right: 6px;
  }
}

.btn-loader{
  span:last-child{
    opacity: 0;
  }
  & > [class^="icon-"]{
    position: absolute;
    top: 10px;
    left: 46%;
  }
}
