.matomo-iframe{
  border: 0;
  min-height: 168px;
  width: 320px;
  margin-top: 12px;
}

.cookies{
  position: fixed;
  z-index: 200000;
  bottom: 12px;
  left: 12px;
  width: calc(320px - 24px);
  //height: 140px;
  border-radius: 12px;
  box-shadow: 0 0 12px var(--greyShadow);
  background-color: var(--alpha);
  @include flex(column, flex-start, space-between);
  overflow: hidden;
  border: 1px solid var(--grey);

  &:before{
    content: '';
    background-color: var(--warningShadow);
    display: block;
    width: 200px; height: 185px;
    position: absolute;
    top: -96px;
    left: -34px;
    border-radius: 200px;
    z-index: 0;
  }
}

.cookies-title{
  @include flex(column, center, center);
  padding: 24px;
  position: relative;
  z-index: 2;
  border-bottom: 1px solid var(--grey);

  .biscuit{
    margin-bottom: 12px;

    img{
      width: 36px;
    }
  }

  .title{
    @include fontSemibold();
    font-size: 18px;
    margin-bottom: 12px;
  }

  .content{
    font-size: 14px;
    opacity: 0.8;

    text-align: center;
  }
}

.cookies-choices{
  @include flex(row, center, space-between);
  width: 100%;

  & > div{
    width: 33%;
    font-size: 14px;
    padding: 12px;
    text-align: center;
    cursor: pointer;
    opacity: 0.7;
    font-weight: 600;
    transition: all 0.2s ease-in-out;

    &:hover{
      opacity: 1;
    }
  }

  & > div:first-child{
    width: 30%;
  }

  & > div:last-child{
    width: 36%;
    color: var(--primary);
  }
}

.aside-cookies-choices{
  .item{
    margin-bottom: 48px;
    .title{
      display: block;
      @include fontSemibold();
      font-size: 18px;
      margin-bottom: 12px;
    }
  }
}

.cookies-global-response{
  .cookies-choices{
    justify-content: flex-start;

    & > div{
      background-color: var(--alpha);
      border-radius: 4px;
      box-shadow: 0 4px 12px var(--grey);
    }

    & > div:first-child{
      &.active{
        background-color: var(--danger);
        color: var(--alpha);
      }
      margin-right: 12px;
    }

    & > div:last-child{
      &.active{
        background-color: var(--primary);
        color: var(--alpha);
      }
      color: var(--txt);
    }
  }
}

.cookies-global-response{
  .cookies-choices {

    & > div {
      background-color: var(--grey);
    }
  }
}

//                      __   _____  __    ___    __
//                     | _| |___ / / /_  / _ \  |_ |
//    _____ _____ _____| |    |_ \| '_ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |   ___) | (_) | |_| |  | |_____|_____|_____|
//                     | |  |____/ \___/ \___/   | |
//                     |__|                     |__|
@media (min-width:360px) {
  .cookies {
    width: calc(360px - 24px);
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .matomo-iframe{
    width: calc(620px - 24px);
  }
  .cookies {
    bottom: 48px;
    left: 48px;
  }
}
