.tox-tinymce-aux{
  z-index: 10000 !important;
}

.line-critere{
  position: absolute;
  width: 0;
  top: 0; left: 0;
  opacity: 0;
  z-index: -100;
}

.input-show{
  position: absolute;
  top: 26px; right: 6px;
  cursor: pointer;
  color: var(--txt);
}

.line,
.line-buttons{
  @include flex(column, stretch, flex-start);
  gap: 8px;
  width: 100%;
}

.line-buttons{
  margin-top: 12px;
}

.line{
  &.line-2{
    flex-direction: row;

    & > .form-group{
      width: 50%;
    }
  }

  label{
    display: inline-block;
    font-size: 14px;
    margin-bottom: 2px;
  }

  .form-group {
    position: relative;
    @include flex(column, flex-start, flex-start);
    margin-bottom: 8px;
    width: 100%;

    .tox-tinymce{
      border-width: 1px;
    }
  }
}

.form-group-error {
  label {
    color: var(--error) !important;
  }

  input, textarea, select, .input-view,
  .trumbowyg-box, .trumbowyg-editor,
  .select-multiple-custom > .select-input,
  .tox-tinymce{
    border-color: var(--error);
    color: var(--error);
    background-color: var(--errorBackground);

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: var(--error);
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder,   /* Internet Explorer 10-11 */
    &::-ms-input-placeholder { /* Microsoft Edge */
      color: var(--error);
    }
  }

  .error{
    @include flex(row, center, flex-start);
    color: var(--error);
    padding-top: 4px;
    font-size: 14px;

    [class^="icon-"]{
      margin-right: 4px;
    }
  }
}


input, textarea, select, .input-view, .select-multiple-custom > .select-input{
  border: 1px solid var(--grey3);
  padding: 8px 10px;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
  outline: none;
  background-color: var(--alpha);
  color: var(--txt);

  &:focus{
    border: 1px solid var(--txt);
  }
}

textarea{
  resize: vertical;

  & + .tox-tinymce{
    width: 100%;
  }
}

.form-group{
  .trumbowyg-box{
    overflow: hidden;
  }
  .trumbowyg-box, .trumbowyg-editor{
    background: var(--alpha);
    color: var(--txt);
    margin: 0 auto;
    border-radius: 4px;
  }
}


.checkbox-items, .radiobox-items{
  @include flex(row, stretch, flex-start);
  flex-wrap: wrap;
  gap: 8px;
}

.checkbox-item, .radiobox-item{
  position: relative;

  &.checked > label{
    border: 2px solid var(--primary);
    background-color: var(--alpha);
    color: var(--primary);
    opacity: 1;
  }

  label{
    padding: 5px 8px 3px 8px;
    border: 2px dashed var(--grey3);
    background: var(--alpha);
    color: var(--txt);
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;

    &:hover{
      opacity: 1;
      border-color: var(--txt);
    }
  }

  .item-selected{
    position: absolute;
    top: -8px; right: -4px;
    transition: all 0.2s ease-in-out;

    [class^="icon-"]{
      display: inline-block;
      background-color: var(--primary);
      border-radius: 20px;
      font-size: 12px;
    }
  }

  input{
    display: none;
  }
}

.input-view{
  background-color: var(--grey3);
  cursor: not-allowed;
}

.select-multiple-custom{
  .select-input{
    @include flex(row, center, flex-start, 4px);
    flex-wrap: wrap;
    padding: 6px 10px 2px 10px;

    .select-input-values{
      @include flex(row, flex-start, flex-start, 4px);
      overflow-x: auto;
      @include scrollbar(4px);
      max-width: 80%;
      padding-bottom: 4px;

      &.active{
        & + input{
          padding: 0;
          max-width: calc(20% - 4px);
          transform: translateY(-2px);
        }
      }
    }

    .input-values-item{
      @include flex(row, center, flex-start, 4px);
      background-color: var(--primaryOpacity1);
      border-radius: 4px;
      cursor: pointer;
      padding: 3px 6px 2px 6px;
      transition: background-color 0.2s ease-in-out;

      &:hover{ background-color: var(--primaryOpacity4); }
    }

    input{
      padding: 0 0 9px 0;
      border: none;
      background-color: transparent;
      color: var(--txt);
      width: 100%;
    }
  }
}

.select-custom{
  position: relative;
  width: 100%;

  .select-input{
    position: relative;
  }

  .select-choices{
    display: none;
    position: absolute;
    top: 36px; left: 0;
    width: 100%;
    background-color: var(--alpha);
    border-radius: 4px;
    z-index: -5;
    max-height: 180px;
    overflow-y: auto;
    @include scrollbar();

    .item{
      color: var(--txt);
      padding: 6px 12px;
      cursor: pointer;
      opacity: 0.6;
      transition: background-color 0.1s ease-in-out;

      &.possibility{
        opacity: 1;
      }

      &.highlight{
        background-color: var(--grey3);
      }

      &:last-child{
        border-radius: 0 0 0 4px;
      }

      &:first-child{
        border-radius: 4px 0 0 0;
      }
    }
  }

  .select-overlay{
    position: fixed;
    top: 0; left: 0;
    display: none;
    width: 100%; height: 100%;
    background-color: var(--overlay);
    z-index: -5;
  }

  &.active{
    .select-input,
    .select-choices{
      z-index: 202;
    }

    .select-choices{
      display: block;
    }

    .select-overlay{
      display: block;
      z-index: 200;
    }
  }
}

.file-uploader{
  position: relative;
  width: 100%;

  &:hover{
    .file-uploader-container{
      .infos{
        border-color: var(--txt);
        opacity: 1;
      }
    }
  }

  input[type="file"]{
    position: absolute;
    top: 0; left: 0;
    display: block;
    width: 100%; height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  .file-uploader-container{
    @include flex(column, space-between, flex-end);
    background-color: var(--alpha);
    border-radius: 4px;
    color: var(--txt);
    padding: 12px 12px 12px 14px;

    .preview-files{
      @include flex(row, flex-start, flex-start, 12px);
      flex-wrap: wrap;

      .item{
        @include flex(row, flex-start, flex-start);
        gap: 8px;
        width: auto;
        text-align: left;

        .sub{
          font-size: 14px;
          opacity: 0.6;
        }
      }

      img{
        width: 64px;
      }
    }

    .actual-files{
      position: relative;

      img{
        height: 34px;
      }
    }

    .infos{
      margin-bottom: 8px;
      font-size: 15px;
      padding: 6px 6px 2px 6px;
      border-radius: 4px;
      border: 2px dashed var(--grey3);
      text-align: center;
      width: 100%;
      opacity: 0.8;
      transition: border 0.2s ease-in-out;
    }

    .actions{
      @include flex(row, flex-end, space-between);
    }
  }
}

// **************************************
// SWITCHER
// **************************************
.switcher-items{

  input[type='checkbox'] {
    display: none;
  }

  .switcher-item{
    position: relative;

    label{
      position: relative;
      display: inline-block;
      z-index: 0;
      width: 56px; height: 28px;
      border-radius: 100px;
      background-color: var(--grey3);
      transition: background-color 0.2s ease-in-out;
      cursor: pointer;

      &:hover{
        background-color: var(--greyOpacity4);
      }

      span{ opacity: 0; }

      &:before, &:after{
        position: absolute;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
      }

      &:before{
        content: "";
        background-color: var(--alpha);
        border-radius: 100px;
        display: block;
        width: 20px; height: 20px;
        top: 4px; left: 4px;
        z-index: 5;
      }

      &:after{
        font-family: "icomoon" !important;
        content: "\e99b";
        top: 6px; left: 7.5px;
        font-size: 14px;
        z-index: 6;
        color: var(--danger);
      }
    }

    &.checked{
      label{
        background-color: var(--primary);

        &:hover{
          background-color: var(--primaryOpacity4);
        }

        &:before, &:after{
          transform: translateX(28px);
        }

        &:after{
          content: "\e997";
          color: var(--primary);
        }
      }
    }
  }
}


// **************************************
// Multiple cities
// **************************************
.form-group-cities{
  position: relative;
}
.cities{
  display: none;
  position: absolute;
  top: 48px; left: 0;
  width: 280px;
  height: 160px;
  overflow: auto;
  @include scrollbar();
  background-color: var(--alpha);
  border-radius: 8px;
  box-shadow: 0 6px 12px var(--grey3);
  z-index: 500;

  &.active{
    display: block;
  }

  .items{
    & > .item{
      font-size: 15px;
      padding: 8px 12px;
      transition: all 0.2s ease-in-out;
      cursor: pointer;

      &:hover{
        background-color: var(--greyShadow);
      }
    }

    & > .item:not(:last-child){
      border-bottom: 1px solid var(--grey3);
    }
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .line{
    flex-direction: row;

    $data:
      "3" 33%,
      "4" 25%,
      "5" 20%
    ;

    @each $name, $dimension in $data {
      &.line-#{$name}{
        & > .form-group{
          width: $dimension;
        }
      }
    }
  }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
  .line {
    gap: 12px;

    &.line-2 {
      gap: 12px;
    }

    .form-group{
      margin-bottom: 12px;
    }
  }
}
