.line.line-critere{
  position: absolute;
  width: 0;
  top: 0; left: 0;
  opacity: 0;
  z-index: -100;
}

.input-show{
  position: absolute;
  top: 26px; right: 6px;
  cursor: pointer;
  color: var(--txt);
}

.line,
.line-buttons{
  @include flex(column, stretch, flex-start);
  gap: 8px;
  width: 100%;
}

.line-buttons{
  margin-top: 12px;
}

.line{
  &.line-2{
    flex-direction: row;

    & > .form-group{
      width: 50%;
    }
  }

  label{
    display: inline-block;
    font-size: 14px;
    margin-bottom: 2px;
  }

  .form-group {
    position: relative;
    @include flex(column, flex-start, flex-start);
    margin-bottom: 8px;
    width: 100%;
  }
}

.form-group-error {
  label {
    color: var(--error) !important;
  }

  input, textarea, select{
    border-color: var(--error);
    color: var(--error);
    background-color: var(--errorBackground);

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: var(--error);
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder,   /* Internet Explorer 10-11 */
    &::-ms-input-placeholder { /* Microsoft Edge */
      color: var(--error);
    }
  }

  .error{
    @include flex(row, center, flex-start);
    color: var(--error);
    padding-top: 4px;
    font-size: 14px;

    [class^="icon-"]{
      margin-right: 4px;
    }
  }
}



input, textarea, select{
  border: 1px solid var(--grey);
  padding: 8px 10px;
  border-radius: 4px;
  font-size: 14px;
  width: calc(100% - 20px);
  outline: none;
  background-color: var(--alpha);
  color: var(--txt);

  &:focus{
    border: 1px solid var(--txt);
  }
}

.checkbox-items, .radiobox-items{
  @include flex(row, stretch, flex-start);
  flex-wrap: wrap;
  gap: 8px;
}

.checkbox-item, .radiobox-item{
  position: relative;

  &.checked > label{
    border: 2px solid var(--primary);
    background-color: var(--alpha);
    color: var(--primary);
    opacity: 1;
  }

  label{
    padding: 5px 8px 3px 8px;
    border: 2px dashed var(--grey);
    background: var(--alpha);
    color: var(--txt);
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;

    &:hover{
      opacity: 1;
      border-color: var(--txt);
    }
  }

  .item-selected{
    position: absolute;
    top: -8px; right: -4px;
    transition: all 0.2s ease-in-out;

    [class^="icon-"]{
      display: inline-block;
      background-color: var(--primary);
      border-radius: 20px;
      font-size: 12px;
    }
  }

  input{
    display: none;
  }
}

.select-custom{
  position: relative;
  width: 100%;

  .select-choices{
    display: none;
    position: absolute;
    top: 36px; left: 0;
    width: 100%;
    background-color: var(--alpha);
    border-radius: 4px;
    z-index: -5;
    max-height: 180px;
    overflow-y: auto;
    @include scrollbar();

    .item{
      color: var(--txt);
      padding: 6px 12px;
      cursor: pointer;
    }
  }

  &.active{
    .select-choices{
      display: block;
      z-index: 1;
    }
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .line{
    flex-direction: row;

    $data:
      "3" 33%,
      "4" 25%,
      "5" 20%
    ;

    @each $name, $dimension in $data {
      &.line-#{$name}{
        & > .form-group{
          width: $dimension;
        }
      }
    }
  }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
  .line {
    gap: 12px;

    &.line-2 {
      gap: 12px;
    }

    .form-group{
      margin-bottom: 12px;
    }
  }
}
