.list-table{
  .item-header{
    display: none;
  }

  .item{
    padding: 12px;

    .sub{
      font-size: 14px;
      color: var(--grey);
    }

    &:not(:last-child){
      border-bottom: 1px solid var(--grey);
    }

    .name{
      @include fontSemibold();

      & + .sub{
        margin-top: 4px;
      }
    }

    .image{
      width: 64px; height: 64px;
      overflow: hidden;

      img{
        object-fit: cover;
      }
    }
  }

  .item-infos{
    & > .col-with-image{
      @include flex(row, flex-start, flex-start);

      .infos{
        width: calc(100% - 64px - 8px);
        margin-left: 8px;
      }
    }

    & > [class^="col-"]{
      @include overflowText();
    }

    & > [class^="col-"].actions{
      @include flex(row, flex-end, flex-end);
      gap: 4px;
    }
  }

  //                      __   _____ __    ___    __
  //                     | _| |___  / /_  ( _ )  |_ |
  //    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
  //   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
  //                     | |   /_/  \___/ \___/   | |
  //                     |__|                    |__|
  @media (min-width:768px) {
    .item-header{
      display: block;
      @include fontSemibold();
    }

    .item-infos{
      @include flex(row, flex-start, flex-start);

      & > [class^="col-"]:not(.actions){
        margin-right: 8px;
      }
    }
  }

}
