.list-table{
  .item-header{
    display: none;
  }

  .items{
    & > .item{
      position: relative;
      padding: 12px;

      &.highlight{
        &:before{
          content: "";
          position: absolute;
          top: 0; left: 0;
          display: block;
          width: 4px; height: 100%;
        }
      }

      .sub{
        font-size: 14px;
        color: var(--grey3);
      }

      &:not(:last-child){
        border-bottom: 1px solid var(--grey3);
      }

      .name{
        font-weight: 600;

        & + .sub{
          margin-top: 4px;
        }
      }

      .image{
        width: 64px; height: 64px;
        overflow: hidden;

        img{
          object-fit: cover;
          height: 100%;
        }
      }
    }
  }

  .item-infos{
    @include flex(column, flex-start, flex-start, 8px);

    & > .col-with-image{
      @include flex(row, flex-start, flex-start, 8px);

      .infos{
        width: calc(100% - 64px);
      }
    }

    & > [class^="col-"].actions{
      @include flex(row, flex-end, flex-end, 4px);
      width: 100%;
    }
  }

  //                      __   _____ __    ___    __
  //                     | _| |___  / /_  ( _ )  |_ |
  //    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
  //   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
  //                     | |   /_/  \___/ \___/   | |
  //                     |__|                    |__|
  @media (min-width:768px) {
    .item-header{
      display: block;
      font-weight: 600;
    }

    .item-infos{
      flex-direction: row;
      justify-content: space-between;
    }
  }

}
