@use "../vars/vars";

.list-table{
  .item-header{
    display: none;
  }

  .items{
    & > .item{
      position: relative;
      padding: 12px;

      &.highlight, &.highlight-expanded{
        &:before{
          content: "";
          position: absolute;
          top: 0; left: 0;
          display: block;
          width: 4px; height: 100%;
          background-color: #fdad2d;
        }
      }

      &.highlight-expanded{
        &:before{
          background-color: #272a4b;
        }
      }
    }
  }

  .item-infos{
    @include vars.flex(column, flex-start, flex-start, 8px);

    & > .col-with-image{
      @include vars.flex(row, flex-start, flex-start, 8px);

      .infos{
        width: calc(100% - 64px);
      }
    }

    & > [class^="col-"]{
      width: 100%;
    }

    & > [class^="col-"].actions{
      @include vars.flex(row, flex-end, flex-end, 4px);
      width: 100%;
    }
  }

  @media (min-width:768px) {
    .item-header{
      display: block;
      font-weight: 600;
    }

    .item-infos{
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
