.boite-mail{
  @include flex(column, stretch, flex-start);
  border-radius: var(--radius2);
  border: 1px solid var(--color0Opacity4);
  min-height: 100vh;

  & > .col-1, & > .col-2, & > .col-3{
    width: 100%;
  }

  & > .col-1, & > .col-3{
    padding: var(--espaceDiv);
  }

  & > .col-1{
    position: relative;
    border-radius: var(--radius2) 0 0 var(--radius2);
  }

  & > .col-2{
    border-top: 1px solid var(--color0Opacity4);
    border-bottom: 1px solid var(--color0Opacity4);
  }

  & > .col-3{
    border-radius: 0 var(--radius2) var(--radius2) 0;
  }

  .avatar-letter{
    width: 32px; height: 32px;
    border-radius: 10rem;
    overflow: hidden;
  }

  @import "./mails/menu";
  @import "./mails/list";
  @import "./mails/item";

  @media (min-width:1280px) {
    flex-direction: row;

    & > .col-1{
      width: 22%;
      box-shadow: 4px 0 12px var(--color0Opacity4);
    }

    & > .col-2{
      width: 32%;
      border-top: none;
      border-bottom: none;
    }

    & > .col-3{
      width: calc(100% - 22% - 32%);
      box-shadow: -4px 0 12px var(--color0Opacity4);
    }
  }
}
