.modal {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0; top: 0;
  width: 100%; height: 100%;
  overflow: auto;
  background-color: var(--overlay);
}

.modal-content {
  position: relative;
  color: var(--txt);
  background-color: var(--alpha);
  margin: 15% auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 8px;
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.modal-header,
.modal-body,
.modal-footer{
  padding: 8px 12px;
}

.modal-header {
  @include flex(row, center, space-between);
  gap: 8px;
  font-size: 18px;
  border-bottom: 1px solid var(--greyOpacity4);

  .title{
    @include fontSemibold();
  }

  .close-modal{
    cursor: pointer;
  }
}

.modal-footer {
  @include flex(row, flex-start, flex-end);
  gap: 8px;
  border-top: 1px solid var(--greyOpacity4);

  .alert{
    width: auto;
  }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  .modal-header,
  .modal-body,
  .modal-footer{
    padding: 12px 24px;
  }
  .modal-content{
    padding: 12px 0;
  }
}
