.notifications-container{
  position: relative;

  &.active{
    .notifications-items{
      z-index: 10;
      opacity: 1;
      left: -86px;
    }
  }
}

.notifications-total{
  position: absolute;
  top: -8px; right: -6px;
  background-color: var(--primary);
  border-radius: 80px;
  z-index: 10;
  width: 14px; height: 14px;
  font-size: 10px;
  padding-top: 1px;
  @include flex(row, center, center);
}

.notifications-items{
  position: absolute;
  top: 32px; left: -800px;
  z-index: -10;
  border-radius: 8px;
  @include shadowCommon();
  color: var(--txt);
  background-color: var(--alpha);
  width: 280px;
  opacity: 0;
}

.notif-card{
  @include flex(column, flex-start, flex-start);

  & > div{
    width: 100%;
  }

  .notif-header, .notif-actions{
    padding: 8px 12px;
  }

  .notif-header{
    @include flex(row, center, space-between, 8px);
    border-bottom: 1px solid var(--grey3);

    & > span:first-child{ font-weight: 600; }

    & > span:last-child{ cursor: pointer; }
  }

  .notif-body{
    max-height: 160px;
    min-height: 160px;
    overflow-y: auto;
    @include scrollbar();
  }

  .notif-item{
    @include flex(row, flex-start, flex-start, 8px);
    transition: background-color 0.2s ease-in-out;
    padding: 8px 12px;

    &:hover{
      background-color: var(--greyOpacity4);
    }

    a{
      color: var(--txt);
    }

    .icon, .sub{
      opacity: 0.8;
    }

    .icon{
      width: 16px;
    }

    .infos{
      width: calc(100% - 16px - 28px - 8px);

      .new{
        width: 4px; height: 4px;
        background-color: var(--primary);
        border-radius: 20px;
        transform: translateY(6px);
      }

      .name{
        @include flex(row, flex-start, flex-start, 4px);
      }

      .sub{
        font-size: 12px;
        text-align: left;
        margin-top: 4px;
      }
    }

    .actions{
      width: 28px;
    }
  }

  .notif-actions{
    @include flex(column, center, flex-start, 8px);
    border-top: 1px solid var(--grey3);

    a {
      color: var(--primary);
      font-size: 15px;
      cursor: pointer;

      &:hover{
        text-decoration: underline;
      }
    }
  }
}


//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .notifications-container{
    &.active{
      .notifications-items{
        left: auto;
        right: 0;
      }
    }
  }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
  .notifications-container{
    &.active{
      .notifications-items{
        left: 0;
        right: auto;
      }
    }
  }
}
