.pagination{
  padding: 0;
  margin: 0;
  list-style: none;
  @include flex(row, center, flex-start);
  gap: 6px;

  a{
    display: block;
    padding: 6px 9px;
    border-radius: 4px;
    cursor: pointer;
  }
}

.sorter-pagination{
  @include flex(column, flex-start, flex-start);
  gap: 12px;

  label{
    font-size: 13px;
    opacity: 0.8;
    @include overflowText();
  }

  select {
    width: 100%;
    padding: 5px 4px 4px 4px;
    cursor: pointer;
  }

  .actions-sorter{
    @include flex(row, flex-start, flex-end);
    gap: 8px;
    width: 100%;

    & > *{
      width: 50%;
    }

    .form-group{
      @include flex(column, flex-start, flex-end);
    }

    .action-sorter{
      select{
        width: 140px;
      }
    }

    .action-perPage{

      .form-group{
        align-items: flex-end;
      }

      select{
        width: 64px;
      }
    }
  }

  .actions-pagination{
    @include flex(column, flex-end, flex-end);
    width: 100%;

    & > *{ width: 100%; }
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .sorter-pagination{
    flex-direction: row;
    align-items: center;

    .actions-sorter{

      .form-group{
        flex-direction: row;
        align-items: center;
        gap: 8px;
      }

      .action-sorter{
        @include flex(row, flex-start, flex-start);
      }

      .action-perPage{
        @include flex(row, flex-start, flex-end);

        .form-group{
          align-items: center;
        }
      }
    }

    .actions-pagination{
      width: initial;
    }
  }
}

