.pagination{
  padding: 0;
  list-style: none;
  @include flex(row, center, flex-start);
  gap: 6px;

  a{
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
  }
}

.sorter-pagination{

}
