@use "../vars/vars";

.pagination{
  padding: 0;
  margin: 0;
  list-style: none;
  @include vars.flex(row, center, flex-start);
  gap: 6px;

  a{
    display: block;
    padding: 6px 9px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    min-width: 34px;
    text-align: center;

    &:hover{
      background-color: rgba(199, 199, 199, 0.4);
    }
  }

  .active a{
    background-color: #1e87f0;
    color: #FFFFFF;
    font-weight: 600;
  }
}

