#toast-container{

  .toast-close-button{
    color:var(--txt);
  }

  .toast{
    position: relative;
    background-image: none !important;
    background-color: var(--alpha);
    box-shadow: none;
    opacity: 1;

    &:hover{
      box-shadow: none;
      opacity: 0.9;
    }

    .toast-title{
      & + .toast-message{
        margin-bottom: 4px;
      }
    }

    .toast-message{
      position: relative;
      padding-left: 0;

      &:before{
        content: "";
      }
    }

    &:before{
      content: "";
      position: absolute;
      background-color: var(--grey3);
      display: block;
      width: 6px;
      height: 100%;
      top: 0; left: 0;
    }

    $types:
            "error" #EEB5AF var(--danger),
            "info" #9AD2F4 var(--primary),
            "warning" #F1D6AA var(--warning),
            "success" #F6C9C4 var(--success)
    ;

    @each $name, $bg, $bg2, $icon in $types {
      &.toast-#{$name}{
        background-color: $bg;

        &:before{
          background-color: $bg2;
        }
      }
    }
  }

  & > div{
    transition: all 0.2s ease-in-out;
    padding-left: 15px;
    color: var(--txt);
    box-shadow: 0 0 12px var(--grey3);
  }

  & > div:hover {
    box-shadow: 0 0 12px var(--grey3);
  }
}
