.search-bar{
  position: relative;
  width: 100%;

  input{
    padding-left: 28px;

    &:hover,
    &:focus{
      & + .search-icon:not(.active){
        color: var(--txt);
      }
    }
  }

  .search-icon{
    position: absolute;
    top: 7px; left: 6px;
    color: var(--grey);
    transition: color 0.2s ease-in-out;

    &.active{
      color: var(--primary);
    }
  }
}

.filters{
  .dropdown-btn{
    display: inline-block;
    border: 1px solid var(--grey);
    border-radius: 4px;
    padding: 7px 12px 6px 10px;
    cursor: pointer;
    color: var(--grey);
    transition: color 0.2s ease-in-out;

    &:hover{
      color: var(--txt);
    }
  }

  .dropdown-items{
    right: auto;
    left: 0;
  }
}

.toolbar{
  @include flex(column, flex-start, flex-start);
  width: 100%;
  gap: 12px;

  & > .col-1{
    @include flex(row, flex-start, flex-start);
    width: 100%;
  }

  & > .col-2{
    @include flex(row, center, flex-end);
    width: 100%;
  }

  .filters{
    .filter:last-child{
      .dropdown-btn{
        border-radius: 0;
        border-right: none;
      }
    }

    .filter:first-child{
      .dropdown-btn{
        border-radius: 8px 0 0 8px;
      }
    }
  }

  .filters + .search-bar{
    input{
      border-radius: 0 8px 8px 0;
    }
  }

  .others-actions{
    @include flex(row, center, flex-end);
    gap: 8px;

    & > .btn-icon{
      border: 1px solid var(--grey);
      border-radius: 8px;
      padding: 8px;

      &:hover{
        border-color: var(--txt);
      }
    }
  }
}


@media (min-width: 768px) {
  .toolbar{
    flex-direction: row;
  }
}
