.tooltip{
  position: absolute;
  top: -2000px; right: 0;
  font-size: 12px;
  background: var(--grey);
  padding: 3px 8px 2px 8px;
  border-radius: 4px;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.4s ease-in-out;
}

.btn-icon, .btn{
  &:hover{
    .tooltip{
      top: -24px;
      opacity: 1;
      z-index: 1;
    }
  }
}
