{% extends 'admin/pages/agenda/template.html.twig' %}

{% set page_title %}Création d'un évènement{% endset %}
{% set page_subtitle %}Ajouter un rendez-vous à votre agenda{% endset %}

{% block main_content %}
    {% include "layout/components/admin/page_toolbar.html.twig" with { page_back: path('admin_agenda_index') } %}

    <div id="agenda_create">
        {% include "layout/components/loader.html.twig" %}
    </div>
{% endblock %}
