{% extends 'admin/pages/agenda/template.html.twig' %}

{% set page_title %}Création d'un évènement{% endset %}
{% set page_subtitle %}Ajouter un rendez-vous à votre agenda{% endset %}

{% block breadcrumb %}
    {% set breadcrumbs = breadcrumbs | merge([{ text: page_title }]) %}
    {{ parent() }}
{% endblock %}

{% set page_actions %}
    {% include 'layout/components/tailwind/buttons/button.html.twig' with {
        btn_link: path('admin_agenda_index'),
        btn_type: 'default',
        btn_icon: 'left-arrow',
        btn_text: 'Retourner à l\'agenda'
    } %}
{% endset %}

{% block main_content %}
    <div id="agenda_create">
        {% include "layout/components/loader.html.twig" %}
    </div>
{% endblock %}
