{% extends 'admin/pages/agenda/template.html.twig' %}

{% set page_title %}Agenda{% endset %}
{% set page_subtitle %}Gérez vos rendez-vous simplement.{% endset %}

{% set page_actions %}
    {% include 'layout/components/tailwind/buttons/button.html.twig' with {
        btn_link: path('admin_agenda_create'),
        btn_type: 'blue',
        btn_icon: 'add',
        btn_text: 'Créer un nouveau évènement'
    } %}
{% endset %}

{% block main_content %}
    <div id="agenda_list">
        {% include "layout/components/tailwind/loaders/loader.html.twig" %}
    </div>
{% endblock %}
