.alert{
  @include flex(row, stretch, flex-start);
  width: 100%;
  transition: opacity 0.1s linear, margin-top 0.2s linear;

  .alert-container{
    @include flex(row, stretch, flex-start);
    width: 100%;

    &:before{
      content: "";
      display: block;
      width: 6px;
    }

    p{
      padding: var(--espaceEls);
      width: calc(100% - 6px);
    }

    p, ul li{
      font-size: 15px;
    }

    [class^="icon-"] {
      padding: var(--espaceEls) 0 var(--espaceEls) var(--espaceEls);
    }

    .title{
      display: block;
      margin-bottom: 4px;
    }
  }

  .alert-close{
    padding: var(--espaceEls);
    cursor: pointer;
    opacity: 0.75;

    &:hover{ opacity: 1 }
  }
}
