.breadcrumb{
  .breadcrumb-items{
    @include flex(row, center, flex-start, var(--espaceEls));
    flex-wrap: wrap;
  }

  .breadcrumb-separator{
    &:before{
      content: "/";
    }
  }

  .breadcrumb-item{
    @include flex(row, center, flex-start, 4px);

    [class^="icon-"]{
      display: inline-block;
      transform: translateY(-1px);
    }
  }
}
