.txt-link, .txt-button, .btn-icon, .btn{
  @include flex(row, center, center, 6px);
}

.btn-icon, .btn, .txt-button {
  position: relative;
  width: auto;
  text-align: center;
  border: 1px solid transparent;
  background-color: transparent;

  &.btn-loader-with-text,
  &.btn-loader-without-text{
    cursor: initial;
    opacity: 1;
  }
}

.txt-button{
  padding: 6px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.btn-icon, .btn{
  transition: opacity 0.2s ease-in-out;

  &:hover{
    opacity: 1;
  }
}

.btn-icon{
  padding: 6px;
  opacity: 0.75;

  span:not(.tooltip, [class^="icon-"]){
    font-size: 14px;
    transform: translateY(1px);
  }
}

.btn{
  padding: 8px 20px;
  min-height: 36px;
  opacity: 0.80;
}

.btn.btn-loader,
.btn.btn-loader-without-text{
  [class^="icon-"]{
    position: absolute;
    top: 10px; left: 0;
    width: 100%;
  }

  span:not([class^="icon-"]){
    opacity: 0;
  }
}

.txt-link, .txt-button, .btn{
  & > [class^="icon"]{
    display: inline-block;
    transform: translateY(-1px);
  }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
  .txt-link, .txt-button, .btn-icon, .btn {
    cursor: pointer;
  }
}
