.items-changelogs{
  .item-infos{

    & > .col-3{
      width: 100%;
      text-align: right;
    }

    $col2: 300px; $col3: 120px; $col4: 64px; $colGap: 24px;

    //                      __   _____ __    ___    __
    //                     | _| |___  / /_  ( _ )  |_ |
    //    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
    //   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
    //                     | |   /_/  \___/ \___/   | |
    //                     |__|                    |__|
    @media (min-width:768px) {
      & > .col-1{
        width: calc(100% - $col2 - $col3 - $col4 - $colGap);
      }
      & > .col-2{ width: $col2; }
      & > .col-3{
        width: $col3;
        text-align: left;
      }
      & > .col-4.actions{ width: $col4; }
    }

    //                      __   _  ___ ____  _  _     __
    //                     | _| / |/ _ \___ \| || |   |_ |
    //    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
    //   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
    //                     | |  |_|\___/_____|  |_|    | |
    //                     |__|                       |__|
    @media (min-width: 1024px) {
      $col2: 340px;
      & > .col-1{
        width: calc(100% - $col2 - $col3 - $col4 - $colGap);
      }
      & > .col-2{ width: $col2; }
    }


    //                      __   _ ____  ___   ___    __
    //                     | _| / |___ \( _ ) / _ \  |_ |
    //    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
    //   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
    //                     | |  |_|_____\___/ \___/   | |
    //                     |__|                      |__|
    @media (min-width:1280px) {
      $col2: 490px;
      & > .col-1{
        width: calc(100% - $col2 - $col3 - $col4 - $colGap);
      }
      & > .col-2{ width: $col2; }
    }
  }
}
