.items-contacts{
  .item-infos{
    $col2: 300px; $col3: 80px; $col4: 30px; $colGap: 24px;
    @media (min-width:768px) {
      & > .col-1{
        width: calc(100% - $col2 - $col3 - $col4 - $colGap);
      }
      & > .col-2{ width: $col2; }
      & > .col-3{
        width: $col3;
        text-align: left;
      }
      & > .col-4.actions{ width: $col4; }
    }

    @media (min-width: 1024px) {
      $col2: 340px;
      & > .col-1{
        width: calc(100% - $col2 - $col3 - $col4 - $colGap);
      }
      & > .col-2{ width: $col2; }
    }

    @media (min-width:1280px) {
      $col2: 490px;
      & > .col-1{
        width: calc(100% - $col2 - $col3 - $col4 - $colGap);
      }
      & > .col-2{ width: $col2; }
    }

    @media (min-width:1536px) {
      $col1: 490px;
      & > .col-1{ width: $col1; }
      & > .col-2{
        width: calc(100% - $col1 - $col3 - $col4 - $colGap);
      }
    }
  }
}
