@import "../vars/vars";

.styleguide {
  padding: 0 1.2rem;

  .breadcrumb{
    padding: 0;
  }
}

.card-0{
  .actions{
    .txt-link{
      [class^="icon-"]{
        transition: transform 0.2s linear;
      }

      &:hover{
        [class^="icon-"]{
          transform: translate(4px, -1px);
        }
      }
    }
  }
}

.styleguide-content-col{
  @include flex(column, flex-start, flex-start, var(--espaceDiv));

  .styleguide-section{
    width: 100%;
  }
}

.styleguide-section{
  background-color: var(--color0Opacity4);
  border-radius: calc(var(--radius) * 2);
  padding: var(--espaceDiv);
}

.styleguide-section-title{
  @include fontSemibold();
  font-size: 20px;
  margin-bottom: 0.8rem;
}

.styleguide-section-content{
  @include flex(column, flex-start, flex-start, var(--espaceEls));
}

.styleguide-section-content-row{
  @include flex(row, flex-start, flex-start, var(--espaceEls));
  flex-wrap: wrap;
}

.styleguide-row{
  @include flex(row, flex-start, flex-start, var(--espaceEls));
  flex-wrap: wrap;
}

.styleguide-colors{
  @include flex(column, flex-start, flex-start, var(--espaceEls));

  .item{
    position: relative;
    border: 8px solid var(--color0Opacity1);
    background-color: var(--color0Opacity1);
    border-radius: calc(var(--radius) * 2);
    cursor: pointer;
    width: 180px;

    .item-header{
      @include flex(row, center, center);
      height: 64px;
      border-radius: var(--radius);
      background-color: white;

      &:hover{
        span{
          opacity: 0.75;
        }
      }

      span{
        opacity: 0;
        font-size: 12px;
        transition: opacity 0.2s ease-in-out;
      }
    }

    .item-body{
      padding: var(--espaceEls);
      font-size: 14px;
      opacity: 0.8;
      transition: opacity 0.2s ease-in-out;

      &:hover{
        opacity: 1;
      }
    }
  }

  $data:
          "primary" var(--primary),
          "warning" var(--warning),
          "danger" var(--danger),
          "success" var(--success),
          "primaryOpacity4" var(--primaryOpacity4),
          "warningOpacity4" var(--warningOpacity4),
          "dangerOpacity4" var(--dangerOpacity4),
          "successOpacity4" var(--successOpacity4),
          "primaryOpacity1" var(--primaryOpacity1),
          "warningOpacity1" var(--warningOpacity1),
          "dangerOpacity1" var(--dangerOpacity1),
          "successOpacity1" var(--successOpacity1),
          "grey0" var(--grey0),
          "grey1" var(--grey1),
          "grey2" var(--grey2),
          "grey3" var(--grey3),
          "grey4" var(--grey4),
          "grey0Opacity1" var(--grey0Opacity1),
          "grey1Opacity1" var(--grey1Opacity1),
          "grey2Opacity1" var(--grey2Opacity1),
          "grey3Opacity1" var(--grey3Opacity1),
          "grey4Opacity1" var(--grey4Opacity1),
          "grey0Opacity4" var(--grey0Opacity4),
          "grey1Opacity4" var(--grey1Opacity4),
          "grey2Opacity4" var(--grey2Opacity4),
          "grey3Opacity4" var(--grey3Opacity4),
          "grey4Opacity4" var(--grey4Opacity4),
          "color0" var(--color0),
          "color1" var(--color1),
          "color2" var(--color2),
          "color3" var(--color3),
          "color4" var(--color4),
          "color0Opacity4" var(--color0Opacity4),
          "color1Opacity4" var(--color1Opacity4),
          "color2Opacity4" var(--color2Opacity4),
          "color3Opacity4" var(--color3Opacity4),
          "color4Opacity4" var(--color4Opacity4),
          "color0Opacity1" var(--color0Opacity1),
          "color1Opacity1" var(--color1Opacity1),
          "color2Opacity1" var(--color2Opacity1),
          "color3Opacity1" var(--color3Opacity1),
          "color4Opacity1" var(--color4Opacity1),
;

  @each $name, $bg in $data {
    .item-#{$name} {
      .item-header{
        background: $bg;
      }
    }
  }
}

.styleguide-colors-line, .styleguide-icons{
  @include flex(row, flex-start, flex-start, var(--espaceEls));
  flex-wrap: wrap;
}

.styleguide-icons{
  .btn-icon{
    font-size: 20px;
  }

  .icon-chart-3{
    animation: none;
  }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width:1024px) {
  .styleguide{
    padding: 0 1.8rem;
  }
}
