.blocked{
  color: var(--danger);
  text-decoration: line-through;

  span:first-child{
    text-decoration: line-through;
  }

  [class^="icon-"]{
    display: inline-block;
    margin-left: 4px;
    font-size: 14px;
  }
}

.items-users{
  & > .item{
    .image{
      background-color: var(--grey3);
      color: var(--alpha);
    }
  }

  .actions{
    .dropdown-items{
      width: 280px;
    }
  }

  $col2: 180px; $col3: 120px; $col4: 100px; $colGap: 24px;
  @media (min-width:768px) {
    .item-infos{
      & > .col-1{
        width: calc(100% - $col2 - $col3 - $col4 - $colGap);
      }
      & > .col-2{ width: $col2; }
      & > .col-3{ width: $col3; }
      & > .col-4.actions{ width: $col4; }
    }
  }

  @media (min-width: 1024px) {
    $col2: 280px;
    .item-infos{
      & > .col-1{
        width: calc(100% - $col2 - $col3 - $col4 - $colGap);
      }
      & > .col-2{ width: $col2; }
    }
  }
}
