{% extends 'admin/layout/layout.html.twig' %}

{% set page_title %}Dashboard{% endset %}
{% set page_subtitle %}Raccourcis{% endset %}

{% block main_content %}
<div class="main-content">
    <h1>Hello {{ controller_name }}! ✅</h1>
    <h2>title h2</h2>
    <p>test</p>
</div>
{% endblock %}
