{% extends 'admin/layout/layout.html.twig' %}

{% set page_title %}Dashboard{% endset %}
{% set page_subtitle %}Raccourcis{% endset %}

{% block main_content %}
<div class="main-content">

</div>
{% endblock %}
