{% extends 'admin/pages/styleguide/template.html.twig' %}

{% set page_title %}Styleguide{% endset %}
{% set page_subtitle %}Guide de style du template.{% endset %}

{% block main_content %}
    <div id="styleguide_list">
        {% include "layout/components/loader.html.twig" %}
    </div>
{% endblock %}
