{% extends 'admin/pages/contacts/template.html.twig' %}

{% set page_title %}Demande de contacts{% endset %}
{% set page_subtitle %}Gestion des demandes de contacts.{% endset %}

{% block main_content %}
    <div id="contacts_list"
         data-highlight="{{ app.request.query.get('h') }}"
    >
        {% include "layout/components/tailwind/loaders/loader.html.twig" %}
    </div>
{% endblock %}
