<div class="relative inline-flex justify-center rounded-md bg-white text-lg px-2 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
    <span class="icon-chart-3 inline-block text-gray-600 animate-spin"></span>
</div>
