{% extends 'admin/pages/societies/template.html.twig' %}

{% set page_title %}Création d'une nouvelle société{% endset %}
{% set page_subtitle %}Renseignez le maximum d'informations concernant la nouvelle société.{% endset %}

{% set page_actions %}
    {% include 'layout/components/tailwind/buttons/button.html.twig' with {
        btn_link: path('admin_societies_index'),
        btn_type: 'default',
        btn_icon: 'left-arrow',
        btn_text: 'Retourner à la liste'
    } %}
{% endset %}

{% block main_content %}
    <div id="societies_create">
        {% include "layout/components/tailwind/loaders/loader.html.twig" %}
    </div>
{% endblock %}
