{% extends 'admin/pages/societies/template.html.twig' %}

{% set page_title %}Sociétés{% endset %}
{% set page_subtitle %}Ajouter et gérez les sociétés du site.{% endset %}

{% set page_actions %}
    {% include 'layout/components/tailwind/buttons/button.html.twig' with {
        btn_link: path('admin_societies_create'),
        btn_type: 'blue',
        btn_icon: 'add',
        btn_text: 'Ajouter une société'
    } %}
{% endset %}

{% block main_content %}
    <div id="societies_list" data-highlight="{{ highlight }}">
        {% include "layout/components/loader.html.twig" %}
    </div>
{% endblock %}
