@use "icon";

@font-face {
  font-family: 'barlowregular';
  src: url('../../fonts/barlow-regular-webfont.woff2') format('woff2'),
  url('../../fonts/barlow-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'barlowregular';
  src: url('../../fonts/barlow-semibold-webfont.woff2') format('woff2'),
  url('../../fonts/barlow-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'barlowregular';
  src: url('../../fonts/barlow-bold-webfont.woff2') format('woff2'),
  url('../../fonts/barlow-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'barlowregular';
  src: url('../../fonts/barlow-medium-webfont.woff2') format('woff2'),
  url('../../fonts/barlow-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon.eot');
  src:  url('../../fonts/icomoon.eot') format('embedded-opentype'),
  url('../../fonts/icomoon.ttf') format('truetype'),
  url('../../fonts/icomoon.woff') format('woff'),
  url('../../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
