{% extends 'app/pages/contact/template.html.twig' %}

{% block title %}Demande de contact{% endblock %}

{% block main_content %}
    <div id="contacts_create">
        {% include "layout/components/loader.html.twig" %}
    </div>
{% endblock %}
