{% extends 'app/pages/contact/template.html.twig' %}

{% set page_title %}Demande de contact{% endset %}

{% block main_content %}
    <div id="contacts_create">
        {% include "layout/components/tailwind/loaders/loader.html.twig" %}
    </div>
{% endblock %}
