@import "vars/fonts";
@import "vars/vars";
@import "vars/variables";

@import "components/notification";
@import "components/loader";
@import "components/list";
@import "components/pagination";
@import "components/mail";
@import "components/mails";

body {
  @include fontRegular();
}

#toast-container{
  .toast{
    .toast-title{
      font-weight: 600;
    }
  }
}


$data:
        "alpha"   var(--alpha),
        "primary" var(--primary),
        "warning" var(--warning),
        "danger"  var(--danger),
        "success" var(--success),
;

@each $name, $txt in $data {
  .txt-#{$name}{
    color: $txt;
  }
}
