@import "vars/fonts";
@import "vars/vars";

@import "./components/colors";

@import "./components/layout";
@import "./components/menu";
@import "./components/page";

@import "./components/avatar";

@import "./components/loader";
@import "./components/button";
@import "./components/dropdown";
@import "./components/tooltip";
@import "./components/alert";
@import "./components/badge";
@import "./components/list";
@import "./components/pagination";
@import "./components/toolbar";
@import "./components/form";
@import "./components/modal";

html{
  background-color: var(--color1);
}

body {
  color: var(--alpha);
  @include fontRegular();
}

h1{
  @include fontBold();
}

h2{
  @include fontSemibold();
}

b, strong{
  @include fontBold();
}


$data:
        "primary" var(--primary),
        "warning" var(--warning),
        "danger"  var(--danger),
;

@each $name, $txt in $data {
  .txt-#{$name}{
    color: $txt;
  }
}
