@import "vars/fonts";
@import "vars/vars";
@import "vars/variables";

@import "components/layout";
@import "components/menu";
@import "components/footer";
@import "components/page";

@import "components/avatar";

@import "components/elements/alert";
@import "components/elements/card";
@import "components/notification";
@import "components/loader";
@import "components/button";
@import "components/dropdown";
@import "components/tooltip";
@import "components/badge";
@import "components/list";
@import "components/pagination";
@import "components/toolbar";
@import "components/form";
@import "components/modal";
@import "components/mail";

html{
  background-color: var(--color1);
}

body {
  color: var(--alpha);
  @include fontRegular();
}

h1{
  @include fontBold();
}

h2{
  @include fontSemibold();
}

b, strong{
  @include fontBold();
}

#toast-container{
  .toast{
    .toast-title{
      @include fontSemibold();
    }
  }
}


$data:
        "alpha"   var(--alpha),
        "primary" var(--primary),
        "warning" var(--warning),
        "danger"  var(--danger),
        "success" var(--success),
;

@each $name, $txt in $data {
  .txt-#{$name}{
    color: $txt;
  }
}
