@import "../vars/vars";

@import "../components/password";

.password-rules{
  margin-bottom: 12px;

  p{
    margin-bottom: 8px;
  }
}

.login-page{
  padding: 64px 0;

  h1{
    font-size: 36px;

    & + p{
      margin-top: 8px;
      font-size: 14px;
      opacity: 0.85;
      max-width: 414px;
    }
  }

  input{
    padding: 12px 10px;
  }

  & > .col-1{
    @include flex(column, center, center);

    .title-page{
      margin-bottom: 24px;
      text-align: center;
    }

    .content{
      width: 100%;
    }
  }

  & > .col-2{
    display: none;
  }

  .btn-primary{
    padding: 12px 20px;
    text-transform: uppercase;
  }
}

.form-login{
  max-width: 414px;
  margin: 0 auto;
  @include flex(column, center, center);
  padding: 12px;

  .btn-forget{
    display: block;
    opacity: 0.7;
    transition: all 0.2s ease-in-out;
    text-align: right;
    font-size: 14px;
    cursor: pointer;
    padding: 8px 0;

    &:hover{
      opacity: 1;
    }
  }

  .alert{
    font-size: 14px;
    margin-bottom: 24px;
  }

  .form-infos{
    margin-bottom: 24px;
  }

  & > .line:first-child{
    margin-bottom: 8px;
  }
}

#reinit{
  form{
    & > .line:nth-child(2){
      margin-bottom: 8px;
    }
  }
}

.see-password{
  position: relative;

  .btn-see-password{
    position: absolute;
    top: 0; right: 0;
    padding: 8px;
    color: var(--grey2);
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover, .active{
      color: var(--txt);
    }
  }
}

@media (min-width:768px) {
  .login-page{
    padding: 0;
  }
}

@media (min-width:1024px) {
  .login-page{
    padding: 72px 0;
  }
}

@media (min-width:1280px) {
  .login-page{
    @include flex(row-reverse, stretch, flex-start, calc(var(--espaceLayout) * 2));
    padding: var(--espaceLayout);

    .col-1{
      width: 40%;
    }

    .col-2{
      display: block;
      width: 60%;
      max-height: calc(100vh - var(--espaceLayout) - var(--espaceLayout));
      overflow: hidden;
      border-radius: 24px;

      .image{
        img{
          height: 1024px;
          object-fit: cover;
        }
      }
    }
  }

  .form-login{
    max-width: 320px;
  }
}
