@import "../../../common/css/components/alert";

$icons:
        "primary" var(--primaryOpacity4) var(--primary),
        "danger" var(--dangerOpacity4) var(--danger),
;

@each $name, $bg, $txt in $icons {
  .alert-#{$name} {
    background: $bg;
    color: $txt;
  }
}
