@import "vars/fonts";
@import "vars/vars";

@import "./components/colors";

@import "./components/cookies";
@import "./components/loader";
@import "./components/button";
@import "./components/alert";
@import "./components/form";
@import "./components/modal";

body {
  @include fontRegular();
}

h1{
  @include fontBold();
}

h2{
  @include fontSemibold();
}
