.list-table {
  $data:
    "0" var(--dangerOpacity4) var(--danger),
    "1" var(--primaryOpacity4) var(--primary)
  ;

  @each $name, $bg, $txt in $data {
    .badge-#{$name} {
      background: $bg;
      color: $txt;
    }
  }

  //                      __   _____ __    ___    __
  //                     | _| |___  / /_  ( _ )  |_ |
  //    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
  //   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
  //                     | |   /_/  \___/ \___/   | |
  //                     |__|                    |__|
  @media (min-width:768px) {
    .item-infos{
      & > .col-1{
        width: calc(100% - 170px - 120px - 64px - 24px);
      }
      & > .col-2{
        width: 170px;
      }
      & > .col-3{
        width: 120px;
      }
      & > .col-4{
        width: 64px;
      }
    }
  }

  //                      __   _  ___ ____  _  _     __
  //                     | _| / |/ _ \___ \| || |   |_ |
  //    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
  //   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
  //                     | |  |_|\___/_____|  |_|    | |
  //                     |__|                       |__|
  @media (min-width: 1024px) {
    .item-infos{
      & > .col-1{
        width: calc(100% - 280px - 120px - 64px - 24px);
      }
      & > .col-2{
        width: 280px;
      }
    }
  }
}
