.pagination-container,
.sorter-pagination{
  padding: 0 1.2rem;
}

.sorter-pagination{
  .pagination-container{
    padding: 0;
  }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  .pagination-container,
  .sorter-pagination{
    padding: 0 1.8rem;
  }
}
