.toolbar{
  padding: 0 1.2rem;
}

.toolbar + .sorter-pagination{
  margin-top: 1.2rem;
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width:1024px) {
  .toolbar{
    padding: 0 1.8rem;
  }

  .toolbar + .sorter-pagination{
    margin-top: 0.6rem;
  }
}
